[2020-03-03 20:12] SynWillinger opened #1 "bedplate locations off in generated gcode"
The locations for where to print on the bedplate are incorrect in the gcode generated from the slicer.

When "Is Center Origin" is unchecked, gcode centers the model around 0,0 resulting in the print being in the front left corner of the bed and going off of the plate.

When "Is Center Origin" is checked, resulting gcode has the model centered around negative values, resulting in the print not bei

[2020-03-03 21:41] SynWillinger opened #2 "Extra heating gcode prior to defined start gcode in generated code"
Across 4 slices I have done so far, the following code appears in between the initial comment lines and the defined start gcode:

This is then followed by an M82 (which should be there), which is then followed by the defined start gcode. This results in unnecessary lost time at the start of the print, and should be removed.

[2020-03-05 19:14] Rosey1855 opened #3 "Add objects"
So there is no limit to how many objects you can add onto the build plate. This results in objects overlapping and glitching out.

[2020-03-05 20:32] Rosey1855 opened #4 "Bed adhesion"
I have noticed that you do not have the option to adjust the bed adhesion. Meaning I cant choose between a brim or a skirt. I cant adjust the brim size either. This can be a good feature if you do not need a brim to hold the print to the bed or if you want to measure the skirt to see the z-offset.

[2020-03-05 20:39] Rosey1855 opened #5 "Deletion bug"
When you have sliced an object and go to look at the tool path view, then go to clear the build plate, the objects remain visible. If you switch back from the tool path after you delete something the objects will disappear.

[2020-03-05 20:45] #4 closed, assigned to nobody

[2020-03-05 22:08] Rosey1855 opened #6 "Settings not being stored in gcode"
When I change settings in the slicer like temp to 205, once I slice and save the gcode my settings are not being saved. When I look at the gcode it would say print temp is 220.

[2020-03-09 14:09] Rosey1855 opened #7 "Rotating objects"
When trying to slice 3 electronics case mounts, I have noticed that sometimes the 3 objects will rotate clockwise or counter clockwise.

[2020-03-10 14:47] Rosey1855 opened #8 "lay flat button not working"
I had to rotate and object so that it was laying in a flat surface. I rotated the object nearly all the way flat but couldn't quite get it. I then decided to use the lay flat option on the bottom left of the interface. When I click it nothing happens. My object does not lay flat and will just be de-selected. On a side not the rotate function is a bit off.

[2020-03-11 17:01] Rosey1855 opened #9 "Adding objects"
This isn't really an issue but could be a nice feature. Currently you can only add one item at a time. It may be nice if you are printing a few different things to be able to add them all at once in the place objects tab.

[2020-03-17 17:30] SynWillinger opened #10 "objects gradually position when added"
When new parts are added, they take a little while to settle into position, and can be seen moving around for a short bit.

[2020-03-18 14:14] #10 closed, assigned to marciot

[2020-03-18 22:40] #2 closed, assigned to marciot

[2020-03-18 22:44] SynWillinger opened #11 "Print time minutes always showing 0"
The minutes field of the print time is always showing 0

[2020-04-01 22:07] #1 closed, assigned to marciot

[2020-04-02 19:07] SynWillinger opened #12 "replace lulzbot machine profiles with axi"
We need to get an axi machine profile into the machine presets, and remove the lulzbot machine profiles

[2020-04-02 19:09] SynWillinger opened #13 "Editable numbers for model adjustments"
Feature request

We will want editable fields with numbers for mesh modifications such as scaling, positioning, rotating so as to have control while changing those

[2020-04-10 15:30] marciot opened #14 "Medieval Castle floats in mid-air"
When using this STL:

https://www.thingiverse.com/thing:862724/files

The model floats in mid-air instead of laying flat on the bed.

[2020-04-14 22:52] synwest opened #15 "Rotation point"
When rotating an object, It seems to rotate based on the current view and not an origin point. Ideally we would want an origin point to rotate from.

[2020-04-15 14:10] #15 closed, assigned to nobody

[2020-04-15 16:44] Rosey1855 opened #16 "Lulzbot references"
I just did a refresh on sympleslicer and under the manage presets tab it still references the TAZ workhoarse and mini 2.

[2020-04-15 17:19] #12 closed, assigned to nobody

[2020-04-15 17:21] SynWillinger opened #17 "Add X to splash screen upper right"
It has been suggested that there should be a "close window" style X in the upper right of the splash screen. Clicking anywhere on the splash screen works to get it off the screen, but nothing indicates that to the user and this is a simple UI indicator that there is a way to dismiss it.

[2020-04-15 17:24] SynWillinger opened #18 "Snap to view buttons"
Snap to view buttons to quickly and reliably move to certain viewpoints have been requested. Top, Front, Back, Sides, isographic view. Any other views that may make sense or is included in other slicers would be good too.

[2020-04-15 17:26] SynWillinger opened #19 "Delete individual parts"
Currently, you can only clear the entire build plate. We should be able to remove single parts from the build area, while leaving the others.

[2020-04-15 17:28] SynWillinger opened #20 "Remove material brand specifics from profile title"
We would like to de-couple the profiles from brands, to leave them generic for all suppliers. Presently, we just have the PLA profile which is branded as Polymaker Polylite. Angie has requested that this instead be labeled as "PLA (matte finish)"

[2020-04-15 17:33] SynWillinger opened #21 "Undo button"
We could really use a way to undo the last operation done on the models. Bonus points if we can use CTRL+Z as a hotkey.

[2020-04-15 21:08] SynWillinger opened #22 "UI element to indicate hover for description on settings"
Some feedback came in to me to be submitted that while the hovering over a setting name to see a description in the slice settings works great, nothing anywhere presently seems to indicate that functionality exists. Proposed simple solution is if there were a little question mark icon there that was a part of that text as well, it would better indicate to the user that there is more information to

[2020-04-15 23:21] Rosey1855 opened #23 "Profile settings still not saving"
I sliced a production jig for ABS and made sure the temps were set to 240 C for the nozzle and 110C for the bed. Once I sliced the print I checked the gcode and it had the bed temp set to 60C I had to manually adjust the gcode for the bed temp. All my other settings were saved but the bed did not for some reason.

[2020-04-16 19:24] SynWillinger opened #24 "add first layer bed temp setting"
We would like to have a field for material_bed_temperature_layer_0 to be editable in the interface. We have already had a case where @Rosey1855 tried to edit the bed temp through the interface, but that only edited the main temp and not the first layer one, which is what the start gcode pulls from causing the first layer to not be the desired temperature.

[2020-04-17 17:56] #17 closed, assigned to marciot

[2020-04-17 18:06] #24 closed, assigned to marciot

[2020-04-17 18:07] #20 closed, assigned to marciot

[2020-04-17 18:10] #16 closed, assigned to marciot

[2020-04-17 18:12] #13 closed, assigned to nobody

[2020-04-17 18:18] #11 closed, assigned to marciot

[2020-04-17 18:24] #22 closed, assigned to marciot

[2020-04-17 20:02] SynWillinger opened #25 "update start/end gcodes"
I have cleaned up the start and end gcode to remove some legacy things no longer needed and trim a few seconds off of print time, and need this implemented. One important thing this also does, is it turns out the spaces after the M117 messages is causing the text to be offset to the left on the display, so it would be good to get this in sooner than later. New gcodes are attached as text documents

[2020-04-17 21:36] #7 closed, assigned to nobody

[2020-04-20 14:16] #25 closed, assigned to marciot

[2020-04-20 21:36] synwest opened #26 "Transform bug"
I am only able to transform one object once. As soon as I deselect the object I can no longer select it. This is applicable even after clearing the bed plate and adding a new/ different file, I can no longer select it. I have to refresh the page to be able to select the model but then it goes back to only selecting once. This has happened with different models

- Add Object
- Select object
- selec

[2020-04-21 20:00] SynWillinger opened #27 "add layer 0 travel speed setting to UI"
Request from Angie:
"speed_travel_layer_0" setting should be accessible in the UI

[2020-04-21 20:31] SynWillinger opened #28 "Speeds linked"
Print speed, print speed layer 0, and travel speed are all currently linked. Per Angie, they should not be. Angie said she has discussed this with @marciot already, I am just getting it into a ticket.

[2020-04-22 17:14] SynWillinger opened #29 "Disable autofill"
from chat with @marciot "It looks like there is a way to tell the browser not to autofill fields. I'll have to add that to simple slicer." which was in response to learning that profile changes made in the UI will persist through a browser data clear unless "autofill form data" is checked.

[2020-04-23 16:04] SynWillinger opened #30 "Add file box typo"
From Nate:

[2020-04-27 22:17] #26 closed, assigned to nobody

[2020-04-29 21:20] marciot opened #31 "New features in v0.9.8"
Not an issue, I just want to document what has changed in Symple Slicer:

- The model selection has been improved. Now possible to shift click to both select and unselect objects.
- Right clicking on objects or the print surface now brings up a context menu to allow for the deletion of selected items
- Right clicking on the nav cube now brings up view presets
- It is now possible to drag and drop

[2020-04-30 14:10] marciot opened #32 "Problem drag and dropping multiple files"
Dropping multiple different STL files onto window causes one model to be imported multiple times

[2020-04-30 16:03] #30 closed, assigned to marciot

[2020-04-30 16:05] #19 closed, assigned to marciot

[2020-04-30 19:34] SynWillinger opened #33 "Z positioning"
From Angie, who has discussed it with @marciot already:

What happened: When attempting to center my model on the bed I input the location coordinates “X=0, Y=0, and Z=0” This put it in the center of the bed but it sank the model half way into the bed.

Why is this bad? People do not usually know the exact height of their model and currently the only solution to this for positioning is to know how

[2020-05-04 16:14] marciot opened #34 "Scroll wheel allows zooming in but not zooming out."
If you use the scroll wheel to zoom in, you can get closer, but you cannot back off all the way.

[2020-05-04 16:15] #32 closed, assigned to nobody

[2020-05-04 16:36] SynWillinger opened #35 "top view for snap-to-view"
Snap-to-view was implemented in #18 but top view was being tricky. It would still be nice if this could be done, but it has proven to be a much larger task than the others.

[2020-05-04 16:36] #18 closed, assigned to marciot

[2020-05-08 18:45] #31 closed, assigned to nobody

[2020-05-08 18:46] #14 closed, assigned to nobody

[2020-05-11 16:11] #33 closed, assigned to marciot

[2020-05-11 18:55] #34 closed, assigned to nobody

[2020-05-12 21:34] synsuiter opened #36 "Profile Settings Exporting Options"
The section for Exporting settings has a few issues for usability. Currently, no matter what they do, the user cannot export a profile and then import it for use. This is because the exported profile does not export the machine settings, but an import DOES override those so when I try to do it, without manually adding in the machine settings, all machine settings return to cura default. This inclu

[2020-05-12 21:53] synsuiter opened #37 "Word Choices in the UI"
Sometimes Models are called “Objects” (transform objects, slice objects, etc) and other times it is called a “Models” (Place Models, drag and drop models, etc). I tried to use “Object(s)” in the Symple Slicer Guide exclusively.

[2020-05-12 21:54] synsuiter opened #38 "Add "Remove/delete Selected" to options"
Add a “REMOVE SELECTED” button to the “Place Object(s)” options with the add and clear buttons. This would be more user friendly than just having it be an option when right clicking on the object since all other options are offered there. (do not remove the right click “delete selected object” tho, having both would be nice)

[2020-05-12 21:56] synsuiter opened #39 "Quick CENTER Option"
It would be helpful if we could add an option when right clicking on the model, “CENTER” that would automatically center the selected object(s). I understand that the transforming tools can center when the coordinates are 141, 141, 0 but quickly centering an object is HUGE time saver for people who print often. Not to mention it will be easier for newer users to have a button rather than having to

[2020-05-12 21:57] synsuiter opened #40 "Positioning coordinate issue"
When attempting to use the “Position” Values in the bottom right, I input the top value (x) and I hit enter. After I hit enter, I expected my selected box to move down so I could enter the coordinates for y, instead what happened is that the other two values snapped to 0, and my model disappeared and was not recoverable, I had to clear the build plate and then reload my model. I then tried the sam

[2020-05-12 21:58] synsuiter opened #41 "Zoom location"
The current zoom in location is the front or edge of the bed, can we make it the center of the build plate instead?

[2020-05-12 22:00] synsuiter opened #42 "Mirror Tool options"
When using the MIRROR tool, the options on the right are labeled “SCALE”, can we add a “MIRROR” section with axis buttons? I noticed the arrows act as that (one click on the arrow snaps the object mirrored along that axis), but it would be nice to have a solid button, the arrows are a little confusing.

[2020-05-12 22:00] synsuiter opened #43 "Wording Change"
The bottom of the PLACE MODELS section says: NEXT – Click this button when you are done placing models.” And I think we should reword that to “Click this button to skip to Object Slicing”. To let them know where it will be taking them.

[2020-05-12 22:02] synsuiter opened #44 "Start Up options/order of drop down options"
When Symple Slicer opens, the drop-down menu should start with “Manage Presets”. This would make the list order: Manage Presets, Place Models, Place Lithophane, Transform Objects, Machine settings, Slice Objects, Print Preview, final steps, Advanced features, help. The reason for this is that I am having a hard time writing instructions since the path has them load the model but never takes them p

[2020-05-12 22:03] synsuiter opened #45 "Wall Thickness Setting in UI"
The setting is not specified in the profile because it pulls from the nozzle diameter, but it is still reading as if the nozzle diameter is 0.4. (it is reading 0.8mm). This could confuse the user since the nozzle diameter is in the machine settings. Another issue with this setting is that the pop-up definition reads “The thickness of the walls in the horizontal direction. This value divided by the

[2020-05-12 22:05] synsuiter opened #46 "Layer Number Count on Slider"
Can we add a layer count/number entry value in addition to the sliding toggle for layer view? That way if people would like to edit their code directly, they can identify the layer number to edit. (location for values: Print and preview –> Preview Options –> under Show layer)

[2020-05-13 14:50] synsuiter opened #47 "Cura Wall Speed Equation change"
We need the wall speed "speed_wall_x" changed from "speed_wall * 2" to "speed_wall" so that the wall speeds all match for easier UI slicing and material processing consistency.

[2020-05-13 14:54] #41 closed, assigned to marciot

[2020-05-13 15:00] #5 closed, assigned to nobody

[2020-05-13 19:47] Rosey1855 opened #48 "Object dissapearing when switching to layer view."
I uploaded a jig. I used abs settings and changed a few settings to see if they would be saved. The settings were saved however when I went to look at the layer view my object would disappear. Whenever I click the show shell, infill, supports or travel my object would disappear. I am slicing on version 0.9.991

[2020-05-13 20:25] #43 closed, assigned to marciot

[2020-05-13 20:29] #6 closed, assigned to Rosey1855

[2020-05-13 20:37] #45 closed, assigned to marciot

[2020-05-13 20:38] #37 closed, assigned to marciot

[2020-05-13 22:31] #47 closed, assigned to marciot

[2020-05-13 22:32] #39 closed, assigned to marciot

[2020-05-13 22:33] #38 closed, assigned to marciot

[2020-05-14 14:12] #27 closed, assigned to marciot

[2020-05-14 14:13] #28 closed, assigned to marciot

[2020-05-14 14:26] #48 closed, assigned to nobody

[2020-05-15 19:09] synsuiter opened #49 "Image Drop in issues"
When I drag a jpg file onto the build area, the bottom right window goes blank and there is nothing loaded. I noticed that's because we need to "create" the lithophane/reliefe. We just need to make sure the options don't disappear if we drop in an image.

[2020-05-15 19:17] #46 closed, assigned to marciot

[2020-05-15 19:17] #8 closed, assigned to marciot

[2020-05-15 19:29] Rosey1855 opened #50 "Add next button to transform menu"
So maybe to help with the menu flow, after we place our object, can the next button bring us to the transform menu? Then a next button in the transform menu brings you to the slice object menu.

[2020-05-15 19:37] Rosey1855 opened #51 "Can slice larger than the build volume"
Is there a way to make it so if an object or objects exceeds the build volume in any or all three axis? For instance just for kicks and giggles I sliced something with 1000 skirt lines and the slicer just did it. I would guess that if it was able to slice it, then it generated a gcode that would tell the printer to try and print completely off the build surface. I can see someone accidently making

[2020-05-15 20:44] #42 closed, assigned to marciot

[2020-05-15 20:44] #23 closed, assigned to Rosey1855

[2020-05-15 21:14] Rosey1855 opened #52 "Clear build plate not always working"
If I add too many items to the build plate and I try to clear the build plate, not everything will be cleared away. Sometimes I have to clear it two or three times.

[2020-05-18 15:44] #29 closed, assigned to marciot

[2020-05-18 17:34] marciot opened #53 "Update docs with new URLs"
Please update user facing documentation with this new URL:

   https://syndaverco.github.io/slicer

For the meantime, I will continue to use the old URL for testing, since we already are used to it:

    https://syndaverco.github.io/syndaver-slicer

[2020-05-18 17:35] marciot opened #54 "Rename "web-cura" repo to "symple-slicer""
Please rename the "web-cura" repo to "symple-slicer"

[2020-05-18 19:09] #52 closed, assigned to marciot

[2020-05-18 19:13] synsuiter opened #55 "Center Object(s) bug"
Not working when the model has been moved multiple times and then centered. The actual model jumps around the bed after each attempt to center.
Verified bug on version # 0.9.995
![object-center-bug](https://user-images.githubusercontent.com/65256117/82250785-59e29b80-9909-11ea-85eb-5c4ea9ac9aa4.PNG)

[2020-05-18 19:20] #49 closed, assigned to marciot

[2020-05-18 19:29] synsuiter opened #56 "Object(s) deselection"
In order to deselect an object right now you have to click on an empty area of the build plate. since the rotate tools take up so much space this can make it difficult. Can we have the Objects deselect when clicking anywhere off the model into the open space of the window or even the build area?

[2020-05-18 19:43] Rosey1855 opened #57 "Object dissapears"
Once I load an object and slice it, if I go back to the slice menu, don't change anything and go back to the preview menu, if I then try to look at the infill or select any of those items my object will disappear. It seems like the slice didn't hold. I can recreate this consistently. First I selct my profiles. The ones ive been using are AXI for printer and ABS for material. Click next. I import m

[2020-05-18 19:59] #44 closed, assigned to marciot

[2020-05-18 20:00] #40 closed, assigned to marciot

[2020-05-18 22:44] #53 closed, assigned to nobody

[2020-05-19 15:00] #50 closed, assigned to marciot

[2020-05-19 18:48] #3 closed, assigned to marciot

[2020-05-19 19:16] #57 closed, assigned to marciot

[2020-05-19 19:20] #55 closed, assigned to marciot

[2020-05-19 19:51] #51 closed, assigned to marciot

[2020-05-19 19:56] Rosey1855 opened #58 "Cant select object after slicing"
So after I slice an object, I am unable to select my model. Even if I go back to the slice menu I can not click my model to select it. I have to right click on it and click select all to be able to select the model.

[2020-05-20 15:28] synwest opened #59 "Scaling only percentage"
It would be nice when scaling to have dimensions as well as the percentage

[2020-05-20 15:30] #54 closed, assigned to nobody

[2020-05-20 21:29] synsuiter opened #60 "Layer View, etc. (in Edge only)"
In Edge, the layer views and sliding layer view do not work. (version 0.9.9992)

[2020-05-20 21:32] #56 closed, assigned to marciot

[2020-05-21 14:15] marciot opened #61 "Need additional permissions on repo"
I would like to add an issue template to this repo, but when I go to settings I don't see all the options. Please give me additional rights to do so.

[2020-05-21 14:22] #60 closed, assigned to marciot

[2020-05-21 14:43] synsuiter opened #62 "Edge Browser: Update Pop Up"
The update pop-up that lists the changes does not happen when updating Symple Slicer on Edge.

[2020-05-21 16:31] Rosey1855 opened #63 "Shell disapears"
When using the slicer in edge, after I have sliced an object and looking just at the shell, from certain angles the shell will disappear.

[2020-05-21 16:31] #58 closed, assigned to marciot

[2020-05-21 17:06] #63 closed, assigned to marciot

[2020-05-26 15:45] #61 closed, assigned to SynWillinger

[2020-05-27 20:05] SynWillinger opened #64 "Keep previous settings wording"
**Is your feature request related to a problem? Please describe.**
wording is unclear in the startup profile select dialogue, with "keep previous settings"

**Describe the solution you'd like**
"last session settings"

**Describe alternatives you've considered**
additional text in the dialogue box that explains that the default selection (use whatever wording is used for it) will use whatever the

[2020-05-27 20:14] synsuiter opened #65 ""Keep Previous Settings" Function issue"
**Describe the bug**
The option to "keep previous settings" is using the Cura defaults, not previously used settings.

** Details:**
 - SympleSlicer Version: https://syndaverco.github.io/slicer-beta/  - V 1.0.1
 - Google Chrome

**To Reproduce**
Steps to reproduce the behavior:
1) open symple slicer
2) apply Axi machine and pla profile settings (click next)
3) load model (click next)
4) Change any

[2020-05-28 15:46] #65 closed, assigned to marciot

[2020-05-28 15:46] #35 closed, assigned to marciot

[2020-05-28 18:14] marciot opened #66 "Settings descriptions getting truncated on Chrome"
**Describe the bug**

If the windows is close to the right edge of the screen, the tooltip will be sized incorrectly, causing the text to be unreadable.

**Details**
 - SympleSlicer Version: v1.0.3
 - Browser [e.g. chrome, safari]: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Move the browser window near the right edge of the screen
2. Hover over "Enable print cooling"

**Expected

[2020-06-05 21:48] marciot commented on #64
Can this be closed?

[2020-06-05 21:53] #64 closed

[2020-06-09 14:40] marciot commented on #59
Can this be closed?

[2020-06-09 14:40] marciot commented on #9
Can this be closed?

[2020-06-09 15:59] #59 closed

[2020-06-09 17:54] Rosey1855 commented on #9
YEs I think it can be closed. IT isn't exactly what I was thinking but it will work just as good.

[2020-06-09 17:54] #9 closed

[2020-06-10 22:35] synsuiter opened #67 "Support Settings"
**Describe the bug**
Symple Slicer UI Support selection is overriding two things (that I can find so far)
1) All Support Roof Settings
2) The "support_enabled" settings

**Details**
 - SympleSlicer Version: 1.0.4
 - Browser: Chorme

**To Reproduce**
Steps to reproduce the behavior:
1. Import a profile into Symple Slicer that has these settings specified:
 "support_enabled = true" AND/OR "support_r

[2020-06-10 23:00] synsuiter commented on #67
This is working Fine, there were some typo errors on my end when importing. Thank you @marciot for finding my error :D

[2020-06-10 23:00] #67 closed

[2020-06-11 17:47] synwest opened #68 "Save option default"
**Save option default**
After loading in an stl and go through the slicing process, the default save option has the file name as x.stl
Note: when the file type is changed to .gcode it stays .gcode
**Details**
 - SympleSlicer Version: v1.0.4
 - Browser [e.g. chrome, safari]
App
**To Reproduce**
Steps to reproduce the behavior:
1. Load in .stl
2. Run through slicing
3. Before clicking save, check sa

[2020-06-13 18:33] zipsonic opened #69 "Multiple STL files cause problem with gcode UI"
Version 1.0.5 Latest Stable Chrome Windows 10 64Bit

When placing multiple objects, saving gcode results in the extension of the saved file to be STL.

Steps to Reproduce:
1. In Place object, select STL from "Choose File" Dialog.
2. Click "X" next to STL file listed as there is no option to add another STL. Loaded STL stays on screen.
3. Select another STL in "Choose File" dialog. New part gets au

[2020-06-13 18:42] zipsonic opened #70 "Loading multiple STL files - UI problems"
Version 1.0.5 Latest Stable Chrome Windows 10 64Bit

The loading of multiple STL files is difficult and poorly executed

Steps to Reproduce:
1. In Place object, select STL from "Choose File" Dialog.
2. Click "X" next to STL file listed as there is no option to add another STL. Loaded STL stays on screen.
3. Select another STL in "Choose File" dialog. New part gets autoplaced on bed and moves other

[2020-06-13 18:43] zipsonic commented on #69
This appears to be closely related to #68.

[2020-06-15 15:33] marciot commented on #68
Was the STL extension uppercase, by any chance? It seems like there was a bug where uppercase extensions were not being changed to .gcode

[2020-06-15 15:35] marciot commented on #69
Was the STL extension uppercase, by any chance? It seems like there was a bug where uppercase extensions were not being changed to .gcode

[2020-06-15 15:45] marciot commented on #70
Good idea! I'll add the ability to select multiple files from the dialog box. FYI, it is now already possible to drag-and-drop multiple files (and this can happen anywhere on the window, not just the drop box)

[2020-06-15 16:12] synwest commented on #68
it is in fact uppercase

[2020-06-15 16:21] zipsonic commented on #69
I just checked and yes, the file extensions were capitalized. Sorry for the
added work. This can be closed.

[2020-06-15 16:23] marciot commented on #69
@zipsonic: No need to close until the fix is made. This actually was a bug, just a subtle one :) Thanks for finding it!

[2020-06-15 16:48] marciot commented on #69
Fixed in v1.0.6, currently updated in beta:

https://syndaverco.github.io/slicer-beta/

[2020-06-15 16:48] marciot commented on #70
Fixed in v1.0.6, currently updated in beta:

https://syndaverco.github.io/slicer-beta/

[2020-06-15 16:49] marciot commented on #68
Fixed in v1.0.6, currently updated in beta:

https://syndaverco.github.io/slicer-beta/

[2020-06-15 17:32] Rosey1855 opened #71 "Update to edge gives white screen"
**Describe the bug**
In edge when I refreshed the page to update to version 1.0.6. I just get a blank white screen.

**Details**
Going from version 1.0.5 to 1.0.6.
Be on beta site, and refresh page to update to new version.

**Expected behavior**
I should be able to update and use new beta version.

[2020-06-15 20:12] marciot commented on #71
This should be fixed now. Let me know.

[2020-06-15 20:16] Rosey1855 commented on #71
Yep this is all good now.

[2020-06-15 20:16] #71 closed

[2020-06-16 00:59] zipsonic opened #72 "Unnecessary Movement in Starting G-Code"
G28                                          ; home all axes
G0 X145 Y187 Z10 F3000                       ; move away from endstops
M117 AXI Heating Up...
G29 L1                                       ; load leveling matrix slot
G29 J                                        ; 3 point tilt leveling

G28 moves the tool to a midpoint of the bed, then raises up 15mm after homing. Then next G0 command is

[2020-06-16 04:10] zipsonic opened #73 "Percentage Complete on Axi Does not Update"
Ver 1.0.6 - Latest Stable Chrome - Windows 10 64bit

Percentage Complete does not update on Axi Printer.

Starting gcode clears percentage complete with "M73 P0", however, the gcode created by the slicer does not create M73 updates throughout the gcode to update the percentage complete.

Steps to recreate:

1. Load STL
2. Save gcode file
3. Run gcode file

Expected behavior:

Percentage Complete U

[2020-06-16 04:36] zipsonic opened #74 "Bed does not turn off after print"
Ver 1.0.6 - Latest Stable Chrome - Windows 10 64bit

Bed does not turn off after print. Came back to my printer hours later with the bed still on.

Ending gcode contains:

M140 S{material_keep_part_removal_temperature_t}   ; keep temperature or cool down

The resulting gcode file contains:

M140 S50

There does not appear to be a way to change this value and appears to be hard coded.

Expected beh

[2020-06-16 16:25] marciot commented on #73
I've uploaded a fix to the beta version:

https://syndaverco.github.io/slicer-beta/

[2020-06-16 17:13] synwest commented on #68
Looks fixed

[2020-06-16 17:13] #68 closed

[2020-06-16 22:43] synsuiter commented on #72
This has been applied in testing and will be rolled out to the Symple Slicer shortly. Good catch.

[2020-06-17 15:55] zipsonic commented on #73
Verified Working. Thanks for the quick fix!

[2020-06-17 15:56] zipsonic commented on #70
Looks good on my end. Thanks!

[2020-06-17 16:41] zipsonic commented on #74
This problem still exists in latest updates.

I did some more testing. The ending gcode template contains these lines:

M190 R{material_part_removal_temperature}          ; wait for bed to cool down to removal temp
.
.
M140 S{material_keep_part_removal_temperature_t}   ; keep temperature or cool down

The {material_part_removal_temperature} corresponds to "Slice Objects -> Temperatures -> Part Rem

[2020-06-19 20:35] Rosey1855 opened #75 "Chrome not showing setting windows"
**Describe the bug**
When I refresh the slicer in google chrome I get an error that says slicer is not defined.

**Details**
 - SympleSlicer Version: 1.0.6.
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chrome
2. open slicer
3. Refresh page
4. See error and no setting options

**Expected behavior**
Should refresh to latest chrome version and be able to adjust setti

[2020-06-19 20:37] synsuiter opened #76 "Update Error"
**Describe the bug**
Browser skips update and does not prompt a second update window.

**Details**
 - SympleSlicer Version: from version 1.0.6
 - Chrome

**To Reproduce**
I refreshed my page to prompt an update. The Update window popped up and I accidentally hit refresh again before clicking "Update.
The PLA profile that was updated was NOT updated on my browser after that and Samantha's browser W

[2020-06-19 20:38] synsuiter commented on #76
I imagine I could temporarily fix this by clearing my browsing history, that is the plan for me but idk about customers having to do that.

[2020-06-19 21:08] Rosey1855 commented on #76
@synsuiter is this related to my issue 75?

[2020-06-19 21:39] synsuiter commented on #76
@Rosey1855 I dont think so but @marciot would have a better idea. I was able to see the settings the whole time I was trying to refresh to prompt an update that wouldn't come.

[2020-06-19 21:54] SynWillinger commented on #75
I can confirm I am not seeing this on beta or release

[2020-06-19 22:08] Rosey1855 commented on #75
Cleared cache and my issue went away.

[2020-06-19 22:08] #75 closed

[2020-06-19 22:09] SynWillinger opened #77 "Version number not showing on fresh load"
**Describe the bug**
When Symple Slicer is first loaded after a full browser history clear, it is not showing the version number on the splash screen. Was showing the number when memory was not cleared and it had been updated through the updater.

**Details**
 - SympleSlicer Version: 1.0.6
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Clear browsing data"
2. Click

[2020-06-19 23:05] SynWillinger opened #78 "Slight placement difference between uses"
**Describe the bug**
When generating gcode of the same model from both Chrome and Edge, the placement is ever so slightly different.

**Details**
 - SympleSlicer Version: 1.0.6
 - Browser: Chrome, and Edge

**To Reproduce**
Steps to reproduce the behavior:
1. Import model in chrome
2. Slice file and save
3. Import model in Edge
4. Slice file and save
5. Diff files

**Expected behavior**
Identical

[2020-06-22 14:09] marciot commented on #77
This is a known issue. It has been this way for a while. There are no easy solutions but I have been thinking about it.

[2020-06-22 14:11] marciot commented on #76
If the update mechanism itself gets broken, then it becomes impossible to push out new updates. At that point, the only solution is to clear the cache.

[2020-06-22 14:18] marciot commented on #77
Just to provide more context, the version number pertains to the version stored in cache. During the initial load, it is not using a cached version, hence no version number appears. I am thinking that the way around this problem is to present the user with an "installing" screen the first time they load the page, then force a refresh into the cached version. This would avoid this anomalous state w

[2020-06-22 14:21] marciot commented on #76
Before you clear your cache, open up your dev tools and save out any errors for me to see. Thanks.

[2020-06-22 14:24] marciot commented on #75
I accidentally pushed a broken version of the updating tool to the beta branch. This hosed things in such a way that clearing the cache was the only way to restore things.

[2020-06-22 14:26] synsuiter commented on #76
If we see it happen again we will for sure but we both cleared it Friday before leaving so we could get it working again. I think for now we can add something to the guide to explain to clear browsing data to correct any update/load errors, or maybe we recommend they do it in intervals? I am not sure what the best temporary solution is.

[2020-06-22 14:28] synsuiter commented on #72
start gcode correction pushed to the machine settings in Symple Slicer.

[2020-06-22 14:28] #72 closed

[2020-06-22 14:29] marciot commented on #76
We are using the beta branch internally and occasionally things will break because of bugs in the code. Customers should not see such bugs (knock on wood) so I would rather see whether it affects customers first before we start freaking out about solutions.

[2020-06-22 14:33] synsuiter commented on #76
Yeah, but we know to expect an update, they wont automatically know there is a difference to be expected. How would they know their Symple Slicer didn't update? I think a short mention of "a regular clearing of browsing data can ensure you are receiving all updates" or something can help them before they have the problem but don't know they are having it.

[2020-06-22 14:35] marciot commented on #76
I guess I'll go with whatever you guys decide *shrug*

[2020-06-22 14:41] synsuiter commented on #76
I was genuinely asking, @marciot How would a customer know they they aren't getting updates? could they check the git hub? can we provide them a link so they can make sure they are on the latest version?

[2020-06-22 14:50] marciot commented on #76
They could download the source code and check the version number in the "service-worker.js" file. But I know that is not really a solution.

[2020-06-22 14:50] SynWillinger commented on #76
This is not related to #75. I had this happen as well on Friday. IIRC I simply misclicked when refreshing to update the public version and the update window went away and did not update. I was not able to get it to come back. It seems very feasible a customer will have this problem, especially since we always have a splash screen they have to click past, so they will probably get in a habit of jus

[2020-06-22 14:52] marciot commented on #76
@SymWillinger: Merely refreshing the window without clicking "Update" will not skip the update. It will either already be updated by the next time the user visits, or they will be prompted again. I believe something else went wrong.

[2020-06-22 14:53] SynWillinger commented on #76
I can't really test any further without updates, so we may have to simulate some updates on the beta for testing to be sure on this.

[2020-06-22 15:01] marciot commented on #76
Okay. The version number in the About screen will stay the same at v1.0.6, but I updated an internal release number to force the update to happen again.

[2020-06-22 15:46] SynWillinger opened #79 "Multiple "help" options with different information"
**Is your feature request related to a problem? Please describe.**
There are two places on the main screen where you can see the words "help". One of these is a button at the top right of the screen that opens the guide in a separate window. The other location is in the drop down menu for selecting task groups on the bottom right. The one in the bottom right simply shows what the 3D view mouse con

[2020-06-22 15:48] #73 closed

[2020-06-22 15:48] #70 closed

[2020-06-22 15:51] SynWillinger commented on #69
Tested in 1.0.6 and appears to be working for me. Closing issue.

[2020-06-22 15:51] #69 closed

[2020-06-22 17:47] SynWillinger commented on #78
My work machine received the new Chromium based version of Edge over the weekend, so I decided to test this again with the new version. Weirdly, this still seems to happen. On both browsers I refreshed the page, selected the machine and material profiles to ensure that was the same, loaded the same model and made no changes besides the file name post-slicing but before downloading the gcode.

20mm

[2020-06-22 20:02] SynWillinger commented on #78
I tried resetting browsing history on both browsers. Both wound up with different positions from each other, which were also different positions from before.

I then tried a couple tests using just Chrome:
I re-sliced the file after downloading the gcode but without changing anything. This resulted in identical gcode output as expected.
I also tested refreshing the page and then repeating all the

[2020-06-22 20:05] marciot commented on #78
Ohhh. Right. This actually is done intentionally. In order for the circle packing algorithm (which is used for placing objects in a non-intersecting way) it is necessary that the objects not all be in the same position. So I added a small random fudge when placing objects to keep them from overlapping at the origin.

[2020-06-22 20:11] SynWillinger commented on #78
Ah. It is a little odd to have slightly varying positions when only one model is loaded. Could we have that not activate until the second model is loaded, or is it not worth the hassle and should this be a wontfix?

[2020-06-22 20:13] marciot commented on #78
Leave it open for now. I have an idea on how to make it better.

[2020-06-22 22:12] marciot commented on #79
This has been corrected in v1.0.7

[2020-06-22 22:12] marciot commented on #78
This has been corrected in v1.0.7

[2020-06-22 22:13] marciot commented on #77
It will now always show the update dialog box on first run, which will force the version number to appear when the user clicks "Update!"

[2020-06-22 22:15] marciot commented on #76
@synsuiter: With version 1.0.7, the user can bring up both the about box and the change log using the help button. This will allow them to check whether they are falling behind in versions.

[2020-06-22 22:29] marciot commented on #74
This should be corrected in v1.0.7, now in the beta version.

[2020-06-25 16:51] SynWillinger commented on #79
I like the new functionality. Closing issue

[2020-06-25 16:51] #79 closed

[2020-06-25 17:18] SynWillinger commented on #78
Tested, looks good. Closing issue.

[2020-06-25 17:18] #78 closed

[2020-06-25 17:44] SynWillinger opened #80 "Default model position"
**Describe the bug**
Default position when models are loaded in is at 141,141. For a 280x280 build area, center should be 140,140.

**Details**
 - SympleSlicer Version: 1.0.7
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open Symple Slicer
2. Load a 20mm cube
3. Select object
4. Select "Move object"
5. Observe X and Y position values are both 141

**Expected behavior**
X

[2020-06-25 18:01] SynWillinger opened #81 "Model incorrectly labeled as in or out of bounds"
**Describe the bug**
The model can be incorrectly marked as out of the build area when it is actually still in but close to the low end on X or Y. The model can be incorrectly marked as in the build area while outside of the build area extents in X and Y.

**Details**
 - SympleSlicer Version: 1.0.7
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:

Outside build area:
1. Load 2

[2020-06-25 18:48] marciot commented on #81
Can't fix this one. The out-of-bounds detection while placing models applies only to the vertices in the STL file, not the generated GCODE (which isn't known until after the slicer runs). Hence, it is an approximation.

Once the model is sliced, there is an additional check on the GCODE and it will show a warning if the points are out-of-bounds.

[2020-06-25 19:01] marciot commented on #80
The machine width and depth is 282 mm in the profiles, thus the positions are correct. If these values are incorrect, reopen this ticket in the profiles repo.

[2020-06-25 19:31] #80 closed

[2020-06-25 19:32] #81 closed

[2020-06-30 16:08] synsuiter opened #82 "Print Speed UI setting additions request"
**Is your feature request related to a problem? Please describe.**
There has been an issue with needing to reduce print speeds to improve ghosting, to make up the time I am planning to vary the speeds based on feature, allowing the infill to print faster. This means the customer will need access to those varied settings because it will no longer be handled under one settings.

**Describe the solut

[2020-06-30 16:20] synsuiter opened #83 "UI support settings addition request"
**Is your feature request related to a problem? Please describe.**
Based on the variation of object size and geometry, one set of settings for support will be inadequate for many customers.

**Describe the solution you'd like**
I would like the add these support settings, that can be edited to improve support specifics for a model.
**Speed for Supports**
**Support Z Distance (OR) Support Top Dista

[2020-06-30 16:26] synsuiter opened #84 "Other UI settings Addition request"
**Is your feature request related to a problem? Please describe.**
Adhesion can be effected by the initial layer height and since we do not offer different quality profiles, the customer will need to be able to adjust this settings as it compares to their other layer height changes.
Infill before walls is a settings that can help with thicker layered overhangs, it is a commonly used settings in th

[2020-06-30 17:18] marciot commented on #84
Pushed this to beta.

[2020-07-01 21:07] synwest opened #85 "Changing speed through UI"
**Describe the bug**
Changing print speed in UI doesnt translate over to the profile correctly

**Details**
 - SympleSlicer Version:1.07
 - Browser: chrome app

**To Reproduce**
Steps to reproduce the behavior:
1. Load PLA profile
2. In "slice objects" change speed to 75mm/sec
3. Select slice
4. Export profile
5. Speed roofing, speed topbottom, speed wall  are all half of print speed

**Expected b

[2020-07-01 21:08] synwest commented on #85
# #82

[2020-07-01 21:59] marciot commented on #85
Pushed fix for this to beta v1.0.7

[2020-07-01 21:59] marciot commented on #83
Pushed fix for this to beta v1.0.7

[2020-07-01 21:59] marciot commented on #82
Pushed fix for this to beta v1.0.7

[2020-07-08 20:54] SynWillinger opened #86 "GCode streaming not releasing COM port after print"
**Describe the bug**
When streaming gcode from Symple Slicer desktop, the COM port is not released after a print, preventing another from being run unless the app is restarted.

**Details**
 - SympleSlicer Version: Desktop test version 7-2-20 "with sleep prevention"

**To Reproduce**
Steps to reproduce the behavior:
1. Print using "Send to connected printer:"
2. Allow print to finish
3. Print usin

[2020-07-08 21:40] SynWillinger opened #87 "Add print cancel button"
**Is your feature request related to a problem? Please describe.**
A print can't be stopped when streaming gcode.

**Describe the solution you'd like**
A print cancel button should be available when streaming gcode.

**Additional context**
This was decided upon in a meeting.

[2020-07-08 21:42] SynWillinger opened #88 "Add printer timeout during gcode streaming"
**Is your feature request related to a problem? Please describe.**
Presently, during print streaming, the slicer will endlessly continue to try and send commands if the printer is powered off or disconnected.

**Describe the solution you'd like**
A timeout of commands not responded to should be implemented.

**Additional context**
This was discussed and decided upon in a meeting.

[2020-07-08 21:46] SynWillinger opened #89 "Desktop update checking"
**Is your feature request related to a problem? Please describe.**
The desktop version will need some sort of system to notify the user of updates.

**Describe the solution you'd like**
A simple check when connected to the internet to see if a new version is available, and a link to download the new version should suffice for now.

**Describe alternatives you've considered**
An integrated auto-upd

[2020-07-08 21:51] SynWillinger opened #90 "Gcode streaming throttled when window is minimized"
**Describe the bug**
When the Symple Slicer desktop window is minimized, the gcode streaming is slowed down to the point the machine has to stop and wait in between movements.

**Details**
 - SympleSlicer Version: Desktop test version 7-2-20 "with sleep prevention"

**To Reproduce**
Steps to reproduce the behavior:
1. Slice a file, and select "Send to connected printer:"
2. Allow the print to star

[2020-07-09 19:34] SynWillinger opened #91 "Unable to stream gcode with imported profile"
**Describe the bug**
After importing a custom profile, attempting to stream gcode gives the error "Error: No serial port information for this profile"

**Details**
 - SympleSlicer Version: Desktop build from 7-9

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Advanced Features" and upload profile under "Import Settings"
2. Load model and slice
3. Select "Send to connected printer" opt

[2020-07-09 22:31] synsuiter opened #92 "Lay Flat Function"
So this issue is referring back to: lay flat button not working #8.

It was closed but I had a tech support call come in the other day and the user was having issues having their model lay flat, it would lay almost completely flat but then when they would begin the print it would print a small geometry instead of the full base and it was clear after looking again, that it was balancing on a smalle

[2020-07-09 22:41] SynWillinger opened #93 "Print stream cancel error"
**Describe the bug**
An error (see below) is encountered when cancelling a print from symple slicer when streaming gcode. The print does stop due to gcode no longer being streamed, but the printer does not consider the print cancelled and continues to wait for more commands.

**Details**
 - SympleSlicer Version: 7-9-20 testing build of desktop

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-07-09 23:00] SynWillinger opened #94 "Marlin timeout before streaming print starts"
**Describe the bug**
There is a pause before the print starts. Based on the console log this is related to a Marlin timeout immediately after finding the printers COM port.

**Details**
 - SympleSlicer Version: 7-9-20 test build for desktop

**To Reproduce**
Steps to reproduce the behavior:
1. Load a model and slice it
2. Begin streaming the gcode to the printer
3. Open console
4. See "Marlin time

[2020-07-09 23:01] SynWillinger commented on #94
It appears that this timeout is not seen if a second print is started after a first has completed

[2020-07-10 15:59] marciot commented on #92
You need to ask users to simply apply a small rotation to the object and try again. The way the algorithm works is it finds the center of the object and picks the flat face of the convex hull directly below that point to use for the layflat. Rotating the object slightly will cause a different face to be chosen.

[2020-07-10 16:02] marciot commented on #91
This is because I added information to the profiles for the serial port. That same information needs to be added to any exported profiles for printing to work. Will close this as won't fix, as the cause is an obsolete profile.

[code]

[2020-07-10 16:02] #91 closed

[2020-07-10 20:30] SynWillinger commented on #86
This is resolved in the latest version I tested from 7-9

[2020-07-10 20:30] #86 closed

[2020-07-10 20:32] SynWillinger commented on #88
This is resolved in the latest version I tested from 7-9

[2020-07-10 20:32] #88 closed

[2020-07-10 22:42] SynWillinger commented on #90
This is fixed in the 7-10 test build

[2020-07-10 22:42] #90 closed

[2020-07-10 22:43] SynWillinger commented on #94
This appears to be fixed in the 7-10 build

[2020-07-10 22:43] #94 closed

[2020-07-14 14:38] SynWillinger commented on #93
Fixed in 7-13 build

[2020-07-14 14:38] #93 closed

[2020-07-14 14:39] SynWillinger commented on #87
this has been implimented

[2020-07-14 14:39] #87 closed

[2020-07-14 14:49] SynWillinger opened #95 "Filament runout ignored during gcode streaming"
**Describe the bug**
If a filament runout is triggered during a print while gcode is streaming from Symple Slicer Desktop, there will be a short pause and the runout audio alert will play and the "Extruder 1 Filament Error" will display on the LCD. After a moment, however, the print will continue as though nothing happened.

**Details**
 - SympleSlicer Version: 7-13 test desktop build

**To Reprod

[2020-07-14 20:25] SynWillinger opened #96 "Remove calculated values from UI"
**Is your feature request related to a problem? Please describe.**
In the interest of keeping Symple Slicer simple, we should remove from the UI any sub-settings that are auto-calculated from other settings from the UI.

**Describe the solution you'd like**
We should remove the following settings from the UI:
Initial Layer Speed
Infill Speed
Wall Speed
Initial Layer Travel Speed

Printing Temperat

[2020-07-16 17:46] SynWillinger commented on #96
This has been implemented in the current beta

[2020-07-16 17:46] #96 closed

[2020-07-16 21:24] synsuiter opened #97 ""Select Profiles" button change"
**Is your feature request related to a problem? Please describe.**
some confusion on the button being needed to apply the profile

**Describe the solution you'd like**
change the "NEXT" button to say "APPLY" like the description

**Describe alternatives you've considered**
a description is already there with "apply" present and it wasn't clear enough so a button clarifying that it 'applies' the se

[2020-07-17 14:53] marciot opened #98 "Add Cura-style layer view"
I've stumbled across the code that generates Cura's layer view. I would like to bring this code over to Symple Slicer as it provides a layer view which is superior to what we currently have. I suspect it will take a week or two worth of effort to understand the code and bring it over.

Posting a link to the source code so I can remember where I found it:

https://gitlab.com/lulzbot3d/cura-le/cura-

[2020-07-21 14:05] marciot commented on #97
This is changed in beta

[2020-07-21 14:11] SynWillinger opened #99 "Update stuck on downloading"
**Describe the bug**
When I came in this morning, the update widget was up on my beta branch of symple slicer, but the button was not available and it just said "Downloading update..." with a spinning loading circle. According to @synsuiter this happened to her as well, but she was able to refresh and it seems like the update was applied just fine.

**Details**
 - SympleSlicer Version: 1.0.7 beta

[2020-07-22 16:55] SynWillinger commented on #99
This was due to a missing file, and was fixed

[2020-07-22 16:55] #99 closed

[2020-08-03 22:13] synsuiter opened #101 "Import Setting being ignored"
**Describe the bug**
When I import a profile for testing, my Infill pattern does not apply to Symple Slicer and is not changed with my import.

**Details**
 - SympleSlicer Version: beta 1.0.8
 - Browser [e.g. chrome, safari]: Chrome

**To Reproduce**
Import a profile with settings "infill_pattern = "cubicsubdiv"" and see that the slice settings still read "lines" and the print produces infill as L

[2020-08-04 14:02] marciot commented on #101
Can you upload the profile you are trying to import?

[2020-08-04 14:38] synsuiter commented on #101
I cant upload the .toml but I converted it to .txt here:

[ABS-0.5noz_PRODUCTION-PROFILE_BASE-003.txt](https://github.com/SynDaverCO/symple-slicer/files/5022720/ABS-0.5noz_PRODUCTION-PROFILE_BASE-003.txt)

[2020-08-05 14:15] marciot commented on #101
I am able to confirm it. Fixing this will require investigation and significant work. It will need to wait until the 1.0.9 release after all the desktop stuff is rolled in.

[2020-08-05 14:24] marciot commented on #101
The reason this is happening is an interaction between "infill_sparse_density" and "infill_pattern". The formula for "infill_pattern" is:

'lines' if infill_sparse_density > 25 else 'grid'

So if you set both "infill_sparse_density" and "infill_pattern" in your profile, then "infill_pattern" will be forced to be "lines", in accordance to the formula.

I'm not sure what the correct behavior is for

[2020-08-05 14:28] marciot commented on #101
BTW, here is a trick for you. If you click the three dots in Chrome, then select "More Tools" and "Developer Tools". Then type the following incarnation in the Console:

```slicer.config.verbose=true;```

Then you when you load a profile it will print all the settings and how they were computed:

![image](https://user-images.githubusercontent.com/6752228/89424903-91d1d180-d6f5-11ea-9c5c-d192f5756a

[2020-08-05 14:39] marciot commented on #101
I've confirmed this bug has already been fixed in the latest code. The reason the fix isn't in the beta is because we backtracked to 1.0.7, which lacks some of the improvements in the 1.0.8 code we abandoned (and which will now be present in 1.0.9)

[2020-08-05 14:59] marciot commented on #101
Nevermind previous comment. There was another bug. Let me see what I can do.

[2020-08-05 15:14] marciot commented on #101
Okay, I pushed a fix to this to the beta.

[2020-08-05 19:27] synsuiter opened #102 "TPU 95 "bridging" settings"
**Describe the bug**
When I export the TPU 95 Profile I get different Bridging Speed settings than in the direct profile .toml file.

**Details**
 - SympleSlicer Version: 1.0.8
 - Browser [e.g. chrome, safari] ; Chrome

**To Reproduce**
Steps to reproduce the behavior:
Apply Syndaver Axi Machine and TPU Shore hardness 95 profile. then g and export that profile. Confirm by comparing to the git hub

[2020-08-05 19:32] synsuiter commented on #102
Also Material_final_print_temp and Material_initial_print_temp settings exporting incorrectly.

![Capture2](https://user-images.githubusercontent.com/65256117/89455765-09b4f180-d720-11ea-9484-bc7719cb7337.JPG)

[2020-08-05 19:42] synsuiter opened #103 "TPU 85 setting inconsistency"
**Describe the bug**
These settings are not exporting as correct:
infill_overlap = 10 (should =15)
material_final_print_temperature = 225 (should = 240)
material_initial_print_temperature = 230 (should = 240)
material_ print_temperature_layer_0 = not listed (should = 240)

**Details**
 - SympleSlicer Version: 1.0.8 beta
 - Browser [e.g. chrome, safari]: Chrome

**To Reproduce**
Steps to reproduce

[2020-08-05 19:46] marciot commented on #102
Have you refreshed since I put in a fix for #101? Probably same thing.

[2020-08-05 19:49] synsuiter commented on #102
I thought I had refreshed but it just updated for me, looks good.

[2020-08-05 19:49] #102 closed

[2020-08-05 19:50] synsuiter commented on #103
Same as #101

[2020-08-05 19:50] #103 closed

[2020-08-07 14:05] marciot commented on #97
@synsuiter: Can this ticket be closed?

[2020-08-07 14:06] marciot commented on #77
@SynWillinger: Can this ticket be closed?

[2020-08-07 14:06] marciot commented on #83
@synsuiter: Can this ticket be closed?

[2020-08-07 14:07] marciot commented on #85
@synwest: Can this ticket be closed?

[2020-08-07 14:07] marciot commented on #95
@SynWillinger: Can this ticket be closed?

[2020-08-07 14:08] marciot commented on #101
@synsuiter: Can this ticket be closed?

[2020-08-07 14:08] marciot commented on #84
@synsuiter: Can this ticket be closed?

[2020-08-07 14:11] #77 closed

[2020-08-07 14:11] #95 closed

[2020-08-07 14:12] synwest commented on #85
I think so

[2020-08-07 14:12] #85 closed

[2020-08-07 17:20] #101 closed

[2020-08-07 17:20] #83 closed

[2020-08-07 17:25] #82 closed

[2020-08-07 17:26] #97 closed

[2020-08-11 15:23] synsuiter opened #104 "Adding Parts to the bed"
**Describe the bug**
When adding parts to the bed, the 1st 3 have no issue, but addition 4-6 do not appear to have been added, THEY ARE ADDED, but they have been placed over the top of the other previously aided parts. Then when I add #7, they all snap to an area showing them but they are still overlapping.

**Details**
 - SympleSlicer Version: 1.0.8
 - Browser: Chrome

**To Reproduce**
Steps to r

[2020-08-11 15:26] marciot commented on #104
Please upload the STL files.

[2020-08-11 15:30] marciot commented on #104
FYI, the packing algorithm used by Symple Slicer circumscribes all the parts in a circle and then tries to arrange those circles. Thus, it will never be able to pack long skinny parts next to each other. Those parts will always need to be manually adjusted in some way.

[2020-08-11 15:35] marciot commented on #104
I'm a bit surprised this works for parts 1 through 3. It shouldn't work at all, TBH, because the circumscribed circles are overlapping. In cases like this, maybe Symple Slicer should tell the user automatic placement failed and they need to position the parts manually.

[2020-08-11 15:49] marciot commented on #104
Arranging parts on a print bed is the sort of thing that is obvious to humans, but computers cannot do very well.

[2020-08-11 16:27] synsuiter opened #105 "Parts shifting after profile application"
**Describe the bug**
When I add parts to the bed and get it centered, then apply a profile (either through the menu or an import), the parts then rearrange themselves back to the center, even if I had arranged them specifically or merely had them centered in a different way. This happens with multiple and stand alone parts.

**Details**
 - SympleSlicer Version: 1. 0.8
 - Browser: Chrome

**To Repr

[2020-08-11 16:32] marciot commented on #105
@synsuiter: Loading a profile may change the bed dimensions, so right now it triggers the object placement routine. It may make sense to simply have an "automatically arrange bed" checkbox that starts out checked, but gets unchecked any time the user manually positions an object. That way Symple Slicer won't ever mess up what the user has done.

[2020-08-11 16:36] synsuiter opened #106 "Large Model"
**Describe the bug**
After applying a profile and watching the model move off the bed, when it is moved back on the bed, it still says it is unprintable.

**Details**
 - SympleSlicer Version: 1.0.8
 - Browser: Chrome

**To Reproduce**
-Add large model
-Arrange Model on the bed
-Apply a profile and watch the model shift (this issue is already addressed in #105)
-Center your model and watch that it

[2020-08-11 16:44] synsuiter commented on #104
Can't upload the STL model, not supported, but I can sent it to you in an email if you would like.

Good to know, I figured this was the case. We can use the info in this ticket to explain to customers its limitations in the future.

[2020-08-11 16:44] #104 closed

[2020-08-11 16:46] synsuiter commented on #105
@marciot That seems like a good solution, we can place this on low priority, no direct complaints yet through tech support.

[2020-08-11 16:47] synsuiter commented on #106
I can send you this model through email but i cant upload in in a comment here.

[2020-08-12 14:06] marciot commented on #106
Change the file extension to .txt

[2020-08-13 17:16] synsuiter opened #107 "Mirror tool bug with lithophanes"
**Describe the bug**
When using the arrows on the object, the mirror tool does not mirror the object, it stretches it along the axis chosen.

**Details**
 - SympleSlicer Version: 1.0.8
 - Browser [e.g. chrome, safari]: Chrome

**To Reproduce**
Load in a lithophane
Select the object
Click the Mirror tool
Use the arrows on the object to mirror the part
Watch it stretch
Side Note: when I used the sam

[2020-08-13 17:19] SynWillinger opened #108 "M73 post-processor toggle"
**Is your feature request related to a problem? Please describe.**
Not all gcode interpreters use the M73 command, which is being added by a post-processor in Symple Slicer currently.

**Describe the solution you'd like**
Per a discussion with @marciot, a toggle based on the "machine_gcode_flavor" profile setting would probably work well for this.

**Describe alternatives you've considered**
Anoth

[2020-08-14 18:17] synsuiter opened #109 "Profile selection confusion"
**Describe the bug**
When you apply a selected material profile, and select "last session settings" for the machine, it uses all your last session settings for the material profile also.

**Details**
 - SympleSlicer Version: 1.0.8
 - Browser [e.g. chrome, safari]: Chrome

**To Reproduce**
Steps to reproduce the behavior:
Go to Symple Slicer
Apply your machine and material profile
Load in a 3D obje

[2020-08-14 18:19] marciot commented on #109
This should not be happening. Which profiles are you using?

[2020-08-14 18:35] synsuiter opened #110 "Profile "Apply" override warning"
**Is your feature request related to a problem? Please describe.**
There is a bug I submitted in relation (#109) but we would like this feature to be added no matter what way the other ticket goes.

**Describe the solution you'd like**
Can we add a warning pop up that will ask the user to verify whether they are sure they want to "Apply changes and override old settings?"? We are concerned that it

[2020-08-14 18:37] marciot commented on #110
The default option is to keep the settings. so it seems like the user won't lose their settings unless they take the specific action of selecting another profile. Isn't this sufficient to avoid accidental loss?

[2020-08-17 14:59] marciot commented on #109
I think I see what is happening. I tried the following:

- Opened Symple Slicer
- Selected "SynDaver AXI" and "PLA"
- Hit Apply.
- Went to "Shell" in "Slice Objects" and changed "Top/Bottom Pattern" from "Lines" to "Concentric"
- I then sliced and clicked "Do It Again!"
- I was taken to "Select Profiles" and I noticed that the Printer said "SynDaver AXI" and the material said "PLA"
   - This is co

[2020-08-17 15:11] marciot commented on #110
Okay. My previous comment is incorrect, the default option is to keep the settings only on page reload. It is not the default option when doing a second print.

Here is what I tried:

- Opened Symple Slicer
- Selected "SynDaver AXI" and "PLA"
- Hit Apply.
- Went to "Shell" in "Slice Objects" and changed "Top/Bottom Pattern" from "Lines" to "Concentric"
- I then sliced and clicked "Do It Again!"
-

[2020-08-17 17:12] marciot commented on #109
I think there might be a UI change that solves this problem. The UI currently allows you to select either "Printer" or "Material" as "Last session settings" independently.

I propose:

- A radio button labeled "Use last session settings"
- A radio button labeled "Select new profile"
- The two drop downs which will be invisible or grayed out if the first radio button is selected:
  - Material: Defa

[2020-08-17 17:30] marciot commented on #110
I think there might be a UI change that solves this problem and #109 in one shot. The UI currently allows you to select either "Printer" or "Material" as "Last session settings" independently.

I propose:

A radio button labeled "Use last session settings"
A radio button labeled "Select new profile"
The two drop downs which will be invisible or grayed out if the first radio button is selected:
Mat

[2020-08-17 17:47] synsuiter commented on #109
I like this, breaking it up definitely sounds like the way to go, good idea.

[2020-08-26 20:52] #74 closed

[2020-08-26 20:53] synsuiter commented on #76
@marciot I am going to leave this open in case we get any issues related to it in the field but I think this is a solid solution for the issue.

[2020-08-26 20:59] synsuiter commented on #109
One new issue from this update is that if the second option loads in selected, it does not show the profile selection options. It needs to be un selected and then re selected to make them pop up, we have one instance of someone thinking they didn't know where to find profiles. can we make it so those options are just always visible and do not disappear? I know that may cause confusion when someone

[2020-08-26 21:08] marciot commented on #109
The second option should never load selected. If this is happening, then it is a bug. Let me know under what circumstances it happens. This may be related to another ticket I already closed.

[2020-08-26 21:13] synsuiter commented on #109
oh, that is my bad, I was not clear, that's not what is happening. we are trying to repeat and get an image now. What we are seeing is that the drop down options some times do not load in even when the second option is selected, and in order to make those drop down options visible, you have to select the top bubble and then reselect the second bubble to view those options.
it has happened more tha

[2020-08-28 21:30] synsuiter opened #111 "Support interface option"
**Is your feature request related to a problem? Please describe.**
The Support settings often need an interface to succeed

**Describe the solution you'd like**
Under the "Enable Support Brim", can we add "Enable Support Interface" to activate the setting "support_interface_enable"?

**Describe alternatives you've considered**
I considered having it active in the background without access through

[2020-08-28 21:32] synsuiter opened #112 "Initial Layer Speed"
**Is your feature request related to a problem? Please describe.**
first layers are having a harder time sticking due to higher than usual default speed settings, control to the customer is needed for various adhesion methods.

**Describe the solution you'd like**
A UI option for the First layer speed, independent of the "print speed" option.

**Describe alternatives you've considered**
Slower spe

[2020-08-31 15:24] synwest opened #113 "Infill density changes infill pattern"
**Describe the bug**
When the infill density is changed, the infill pattern id automatically changed to lines instead of staying at what the profile sets it as

**Details**
 - SympleSlicer Version:1.09
 - Browser Chrome desktop

**To Reproduce**
Steps to reproduce the behavior:
1. Load in profile
2. Move into slice object menu
3. Change infill density
4. infill pattern changes to lines

**Expected

[2020-08-31 17:06] marciot commented on #113
The reason for this is that there is a formula defined for "infill_pattern":

[code]

We can remove the formula, but then this automatic heuristic would no longer happen.

[2020-08-31 17:08] synwest commented on #113
@synsuiter

[2020-08-31 17:55] synsuiter commented on #113
hmm, this is an odd one. I see negative potential for the customer, on this one. The infill pattern can change a lot about the outcome of the part.
@marciot , What is happening with that formula? Is it always trying to set the pattern to lines if it is  less that 25% and grid if it over 25%? This seems like something we should definitely get rid of since our profiles set the % and the pattern and

[2020-08-31 19:21] marciot commented on #111
Please check this in the latest beta.

[2020-08-31 19:22] marciot commented on #112
Please check this in the latest beta.

[2020-08-31 19:34] marciot commented on #113
Other way around. It will select lines for infill over >25%, grid otherwise. Not sure why. It would seem like they are making the infill weaker when the user is requesting a stronger print. So it kind of goes against what the user desires.

Yeah. I agree.

Adding something like this would be a pretty major endeavor. Certainly won't happen for a while.

Given that the logic behind the formula seems

[2020-08-31 19:39] synsuiter commented on #113
Agreed. @marcio removing the formula seems like the best option.

[2020-09-01 15:21] synsuiter opened #114 "Gcode naming save window"
**Is your feature request related to a problem? Please describe.**
The box where you type the name to save the gcode, is too small.

**Describe the solution you'd like**
allow a larger base area for this naming box.

**Describe alternatives you've considered**

**Additional context**

[2020-09-01 16:00] marciot commented on #114
I personally don't like having that text box in there at all. It is a kludge for a misconfigured browser. If the user wants to have an ability to change a file's name, the correct way to do it is to have the browser ask prior to saving files.

In Chrome, you go under Advanced, Downloads and check "Ask where to save each file before downloading". Once you do this, not only do you get to select a na

[2020-09-05 17:11] CakeEaterMan opened #115 "Nozzle Distance from Bed"
When printing a larger layer height the nozzle prints too far above the bed. This causes the initial layer to peel up.

The ability to adjust the distance of the nozzle from the bed would resolve the issue.

[2020-09-08 19:54] SynWillinger opened #116 "Parts moved outside of area still red after place in center"
**Describe the bug**
If a part winds up outside of the print area during setup, it will turn red. If the part is then moved back inside the print area using the right click menu "Center selected object" option, it will stay red.

**Details**
 - SympleSlicer Version: 1.0.10
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Place Objects"
2. Place an object
3. Select th

[2020-09-10 14:49] marciot commented on #109
@synsuiter: Can this be closed?

[2020-09-10 14:50] marciot commented on #110
@synsuiter: Can this be closed?

[2020-09-10 14:50] marciot commented on #111
@synsuiter: Can this be closed?

[2020-09-10 14:51] marciot commented on #112
@synsuiter: Can this be closed?

[2020-09-10 14:52] marciot commented on #84
@synsuiter: Can this be closed?

[2020-09-10 14:55] #113 closed

[2020-09-10 17:50] marciot commented on #114
@synsuiter: Fix for this has been pushed to beta.

[2020-09-10 18:08] synsuiter commented on #109
I think we can close this due to our inability to repeat it, we can reopen if we are able to learn/document more.

[2020-09-10 18:08] #109 closed

[2020-09-10 18:09] synsuiter commented on #110
I am going to close this, looks good, if we need any more edits in the future we can open a new request.

[2020-09-10 18:09] #110 closed

[2020-09-10 18:10] synsuiter commented on #111
Works great! thank you

[2020-09-10 18:10] #111 closed

[2020-09-10 18:10] synsuiter commented on #112
This is good to go, thank you!

[2020-09-10 18:10] #112 closed

[2020-09-10 18:13] synsuiter commented on #84
Sorry for the delay, looks good.

[2020-09-10 18:13] #84 closed

[2020-09-14 19:22] marciot commented on #116
This has been fixed in the beta.

[2020-09-14 19:22] marciot commented on #107
This has been fixed in the beta.

[2020-09-14 19:24] SynWillinger commented on #116
Tested. Looks good to me.

[2020-09-14 19:24] #116 closed

[2020-09-14 19:25] synsuiter commented on #107
Gracias!

[2020-09-14 19:25] #107 closed

[2020-09-15 16:58] synsuiter opened #117 "Material - added Info on Selection"
**Is your feature request related to a problem? Please describe.**
As customers have a wider range of materials to choose from, we need a method to communicate needed information to them when choosing profiles. For example, when they switch from PLA to Nylon material, they need to know that Nylon is sensitive to colder environments and airflow. Or when they print TPU they will need to put glue sti

[2020-09-16 16:27] marciot commented on #117
This feature has been pushed to beta. Simply add a "material_notes" field to the "[metadata]" section of the material in question, example:

[code]

[2020-09-16 16:31] marciot commented on #115
@synsuiter: Please advise what should be done in this situation and whether any thing needs to be changed in SympleSlicer.

[2020-09-16 20:46] synsuiter commented on #115
@CakeEaterMan Good point, luckily there is already the ability to adjust the height on the machine through the LCD screen.
SympleSlicer cannot adjust for your machines nozzle Z offset because it does not know the specific bed leveling calibrations for every machine, it must be adjusted on the individual machine.

Here is how to adjust while the skirt or other adhesion type is printing:
MENU --> Nu

[2020-09-16 23:32] CakeEaterMan commented on #115
@synsuiter Thanks for the tip about manually adjusting the nozzle. I understand why SympleSlicer is unable to adjust for a specific machine, but it is adjusting the nozzle's distance from the bed based on the provided layer height.

For example:
If I set the layer height in SympleSlicer to 0.2 mm then during the print the print head is 0.2 mm away from the bed, and if I set the layer height in Sym

[2020-09-17 14:04] marciot commented on #115
@CakeEaterMan: Why can't you change the "Initial Layer Height" to whatever you want it to be?

[2020-09-18 15:53] marciot commented on #106
@synsuiter: I believe this has been fixed in the latest beta.

[2020-09-20 14:53] CakeEaterMan commented on #115
Because that is not the only thing it affects.

[2020-09-21 18:24] marciot commented on #115
@CakeEaterMan: Gotcha.

So the only answer I can give you at this point is that SympleSlicer does not have what you are asking for because CuraEngine does not have this feature (AFAIK). SympleSlicer isn't a fork of the slicing engine, it is just a different front-end. If you want a new slicing engine feature, it would need to be requested here:

https://github.com/Ultimaker/CuraEngine

[2020-09-24 22:36] SynWillinger opened #118 "First layer % not controlled"
**Describe the bug**
Symple Slicer is controlling the print completion % through M73 commands at each new layer. When not controlled through M73, the marlin firmware will give % based on how many bytes of code have been run. Testing has shown that the first layer will use that second method, but after the second layer it stays with what the gcode tells it. This can result in the % going backwards

[2020-09-25 17:47] synsuiter opened #119 "Setting Title Change in UI"
**Is your feature request related to a problem? Please describe.**
The current name for the setting that controls the Support distance in overhangs has a misleading title.

"support_xy_distance_overhang":
                {
                    "label": "**Minimum Support X/Y Distance**",
                    "description": "Distance of the support structure from the overhang in the X/Y directions. "

[2020-09-28 20:42] marciot commented on #119
Pushed a fix for this to beta.

[2020-09-28 20:59] #119 closed

[2020-09-30 20:58] synsuiter opened #120 "Add layer 0 bed temp setting"
**Is your feature request related to a problem? Please describe.**
There has been confusion in house and some frustration in the field about not having the first layer bed temp setting option available because there is no way to indicate to the customer that the 1st layer temp will be different. Adding this setting into the UI will alleviate the confusion about the change and give customers that a

[2020-09-30 22:49] marciot commented on #120
So both the material_print_temperature_layer_0 and material_bed_temperature_layer_0 are commented out. Do you just want to bring back material_bed_temperature_layer_0?

[2020-10-02 23:19] synsuiter opened #121 "Add initial print temp to the UI"
**Is your feature request related to a problem? Please describe.**
Higher temperature materials that begin with our profiles may need a larger temp increase on the 1st layer for bed adhesion more frequently than we had expected.

**Describe the solution you'd like**
Add the CURA setting "material_print_temperature_layer_0" to the UI of Symple Slicer.

**Describe alternatives you've considered**
No

[2020-10-05 15:26] marciot commented on #121
Adding the "material_print_temperature_layer_0" to the UI is trivial. I'll do that.

As for your other question, the formula for "material_initial_print_temperature" is "max(-273.15, material_print_temperature - 10)" I have no idea where -273.15 comes from, but we could change it to "max(-273.15, material_print_temperature_layer_0 - 10)" if you think it would be better.

[2020-10-05 15:45] synsuiter commented on #121
Can we do "material_print_temperature_layer_0 - 5" instead? That would keep things in line with other windows of 5 degrees and link it to the proper temp setting for its use.

[2020-10-05 16:12] synsuiter opened #122 "Center Model with multiple on the bed"
**Describe the bug**
When trying to center an object with multiple objects on the build plate, it centers all objects.

**Details**
 - SympleSlicer Version: Beta 1.0.11
 - Browser [e.g. chrome, safari]:  Chrome

**To Reproduce**
Steps to reproduce the behavior:
Load multiple objects
Move each to desired locations around the bed
select only one model and center it
Observe all other model move to gr

[2020-10-05 16:49] marciot commented on #122
I cannot fix this. When you ask to center a model, it changes the position on the first object, but then has to run the packing algorithm to make sure the objects don't overlap. This causes all objects to gravitate towards the center of the bed.

[2020-10-05 16:53] marciot commented on #122
I can ask the developer of the packing library whether there is a way to modify the algorithm so it doesn't try to pack things together, but merely avoid overlaps, but he may or may not be able to do this.

[2020-10-05 16:59] synsuiter commented on #122
We could consider changing the wording of the tool to be "Center Objects" instead of specifying the selected one. If we cannot fix it, at least we can explain what it does more clearly.

[2020-10-05 17:08] marciot commented on #122
So I looked at the code for the library. Even though the "packing" part is sort of an essential component for what the library is supposed to do (it's meant to pack circles close together, while we are sort of misusing it to prevent overlaps of parts), it looks like I might be able to turn off that functionality. I'm going to try out the modification and see what happens. It either will do exactly

[2020-10-06 15:13] marciot commented on #117
@synsuiter: Can this be closed?

[2020-10-06 15:13] marciot commented on #121
@synsuiter: Can this be closed?

[2020-10-06 15:14] marciot commented on #120
@synsuiter: Can this be closed?

[2020-10-06 15:24] #120 closed

[2020-10-06 15:25] #117 closed

[2020-10-06 15:25] #121 closed

[2020-10-08 16:10] synsuiter commented on #122
I haven't noticed any other issues but the centering is still working the same. I can post images if needed but they will appear the same.

[2020-10-08 17:31] synsuiter commented on #122
New update is looking good! no errors in centering, we will keep up testing and report back soon.

[2020-11-02 21:30] synsuiter opened #123 "Z Seam: "User Specified""
**Is your feature request related to a problem? Please describe.**
If the user selects the Z seam "User Specified" they do not currently have pop up settings allowing them to specify the X and Y locations.

**Describe the solution you'd like**
I would like to see those boxes for X and Y coordinates to be added to the Slicer settings in the UI when, and only when, the Z seam "user specified" is sel

[2020-11-02 22:14] synsuiter commented on #123
Here is the applicable code (I think)

Check Highlighted sections

               "z_seam_type":
                {
                    "label": "Z Seam Alignment",
                    "description": "Starting point of each path in a layer. When paths in consecutive layers start at the same point a vertical seam may show on the print. When aligning these near a user specified location, the seam is

[2020-11-02 22:15] synsuiter commented on #123
it did not bold them...
**z_seam_x**
**z_seam_y**

[2020-11-04 22:26] synsuiter opened #124 "STOP slicing button"
**Is your feature request related to a problem? Please describe.**
When slicing a model, the customer can't change the part orientation or make any changes after clicking "Slice". This can be an issue more when the slice is complex and takes a long time to generate, preventing the customer from working with the program.

**Describe the solution you'd like**
A button next to the "Show Log" button i

[2020-11-18 15:08] marciot commented on #123
@synsuiter: Can this be closed?

[2020-11-18 15:09] marciot commented on #122
@synsuiter: Can this be closed?

[2020-11-18 16:13] SynWillinger opened #125 "Print time field culling days"
**Describe the bug**
In the time estimate on the "Print and Preview" section all 24 hour increments are being dropped. For example, a print that is 25 and a half hours shows as 01:30:00, or one that is 50.25 hours shows as 02:15:00.

**Details**
 - SympleSlicer Version: 1.0.14
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Slice a part that will take greater than 24 hours

[2020-11-23 23:36] synsuiter commented on #122
Indeed! :D

[2020-11-23 23:36] #122 closed

[2020-11-23 23:37] synsuiter commented on #123
Thank you Sir! :D

[2020-11-23 23:37] #123 closed

[2020-11-29 10:40] stanreuben opened #126 "Machine Settings in .toml file"
I would require the .toml code for Printhead Settings > X min, Y min, X max, Y max, Gantry height

Kindly help me in this regards

[2020-11-30 15:06] marciot commented on #126
@stanreuben: These are under Machine Settings in the UI:

https://syndaverco.github.io/slicer/guide/symple_slicer_users_guide.md.txt#Machine-Settings

If you wish to adjust these settings in the .toml file, they correspond to:

- machine_depth
- machine_height
- machine_width
- gantry_height

There are no settings for x_min and y_min in the slicer; these are always zero.

[2020-11-30 22:36] marciot commented on #118
Okay. So this is a two part fix.

The first is that Symple Slicer should never insert a M73 P0. So I looked at the code and made this change.

But while doing so I also realized Cura puts in time estimates at various points in the file, so rather than use layers to compute the progress, I am now using that time estimate divided by the total time to get a better percentage value.

Now the second pa

[2020-11-30 22:46] SynWillinger commented on #118
Sounds promising

[2020-11-30 23:26] marciot commented on #125
@SynWillinger: A fix for this is now in beta (v1.0.15), close if it looks good.

[2020-11-30 23:26] marciot commented on #118
@SynWillinger: A fix for this is now in beta (v1.0.15), close if it looks good.

[2020-11-30 23:26] marciot commented on #108
@SynWillinger: A fix for this is now in beta (v1.0.15), close if it looks good.

[2020-11-30 23:39] SynWillinger commented on #125
Tested, looks good.

[2020-11-30 23:39] #125 closed

[2020-11-30 23:43] SynWillinger commented on #108
@marciot is this tied to the machine_gcode_flavor setting? If not please let me know where it is. Will test once I know how to test.

[2020-12-01 00:00] SynWillinger commented on #108
Went ahead and tried changing the machine_gcode_flavor setting and this appears to be working.

[2020-12-01 00:00] #108 closed

[2020-12-01 00:05] SynWillinger commented on #118
@marciot I still see the gcode as showing M73 P0 in the start gcode. Tested using ABS profile, freshly loaded from Select Profiles panel at start of workflow.

Other than that it appears to be working, but I intend to throw a couple of different cases at it in the morning to confirm.

[2020-12-01 08:45] stanreuben commented on #126
If the slicer running backed by Cura Engine that should accept the Printhead Settings right? If there is no option in the GUI if there is anyway we can change the Printhead settings

[2020-12-01 17:50] SynWillinger commented on #118
Testing complete. Aside from the aforementioned start gcode issue, this looks to be working quite well.

[2020-12-02 15:11] marciot commented on #126
Yes. It is running a full Cura engine on the backend. Check the box "Show implicit values as comments" when exporting a .toml file and it will show all the available settings in the Cura engine. You can then uncomment the lines you want to change and reimport the .toml file. This will allow you to tweak settings which aren't in the GUI.

[2020-12-07 05:59] stanreuben commented on #126
I wonder whether any of this command corresponds to X min, X max, Y min, Y max of Printhead. If I'm wrong kindly correct me Since Cura Software has an option to change these, I'm pretty sure CuraEngine also will be having the command for tweaking these

`machine_extruder_end_pos_x = 0
machine_extruder_end_pos_y = 0
machine_extruder_start_pos_x = 0
machine_extruder_start_pos_y = 0
(or)
machine_head

[2020-12-07 06:15] stanreuben commented on #126
![Screenshot 2020-12-07 at 11 44 08 AM](https://user-images.githubusercontent.com/75202932/101315953-96fc8400-3881-11eb-9f90-0f855756cc6d.png)

This Settings X min, X max, Y min, Ymax under Printhead Settings in Cura Software, So I think the commands for Cura Engine also Should be available

[2020-12-07 15:13] marciot commented on #126
I believe those settings affect only the UI and the graphical representation of the bed. They are not passed to the Cura Engine for slicing. Anyhow, questions about the Cura or Cura Engine should be directed to Ultimaker as we do not maintain those products.

[2020-12-07 15:14] marciot commented on #126
Where did you find this equation?

[2020-12-07 15:27] marciot commented on #126
Okay, I see that those came from "fdmextruder.def.json". These equations are indeed loaded by SympleSlicer and you'll find the corresponding values of in the toml file:

- machine_extruder_end_pos_x
- machine_extruder_start_pos_x
- machine_extruder_start_pos_y
- machine_head_with_fans_polygon

So, these values can be changed. However, I believe your question is how these values relate to the "X_mi

[2020-12-07 15:39] marciot commented on #126
In this file, it appears as if the mapping between the fields and the Cure Engine configuration are specified as "settingKey":

https://github.com/Ultimaker/Cura/blob/abe2a56a0332c621668407356f987808c1661029/plugins/MachineSettingsAction/MachineSettingsPrinterTab.qml

Notice that the following mappings are defined:

   - Gantry Height   -> "gantry_height"
   - Number of Extruders -> "machine_extru

[2020-12-07 15:57] marciot commented on #126
@stanreuben: Okay, one more clue. Here is the corresponding Cura definition .json for the Creality CR-10:

https://github.com/Ultimaker/Cura/blob/abe2a56a0332c621668407356f987808c1661029/resources/definitions/creality_cr10.def.json

Notice that the values in the "machine_head_with_fans_polygon" corresponds more or less to the values in the "X min", "Y min", "X max" and "Y max" fields in your scree

[2020-12-08 08:40] stanreuben commented on #126
Yes I too thought that would be the X min, max and Y min, max because the fields were in two values with a positive and negative sign, so I thought that would be the settings I was looking for

machine_head_with_fans_polygon = [[-20,10],[10,10],[10,-10],[-20,-10]  , this is the standard X min, max and Y min, max for any fdm printer, So it is defined as default and many printers are having differen

[2020-12-09 20:27] marciot commented on #126
@stanreuben: My understanding is that SynDaver will not support third-party printers in our published version of Symple Slicer, however you are free to fork the project according to the terms of the license. You can reach out to "3DSupport@SynDaver.com" if you need more details.

[2020-12-30 18:38] synwest opened #127 "Wifi ip remembering"
**Is your feature request related to a problem? Please describe.**
After getting the ip address of the printer after setting up wifi, you enter it into the designated field. There isnt a way to know that symple slicer will remember it

**Describe the solution you'd like**
A button in the wireless printing that saves the printer info for future printing.

[2020-12-30 23:25] thebelin opened #128 "Adjustable Line Width With Feature Support"
FDM nozzles are capable of printing at up to 200% of their diameter line width. Outside walls and inside walls sometimes have different optimized line width settings.

Slicing step should support the ability to set the default line width, and the line width for specific walls, ie outside line width, inside line width, support line width, infill line width.

This data would help the layer visualize

[2020-12-30 23:34] thebelin opened #129 "Additional Retraction Settings"
Z hop on layer change would be nice to have. It allows for easy avoidance of previously printed parts and can really reduce stringing.
Z hop on retract would be super nice to have also.

Z hop distance on retract would be a float value representing the distance in mm to hop when retracted.
Z hop speed would be mm/s to travel and default at 10 mm/s

This could be added with post processing.

Existi

[2021-01-04 19:13] marciot commented on #126
@stanreuben: I have added the settings you requested to the UI and to the .toml file:

![MachineSettings](https://user-images.githubusercontent.com/6752228/103569767-25662480-4e85-11eb-9344-8acafb8344f1.PNG)

I also added a corresponding "Print Sequence" option that makes use of these parameters:

![SliceObjects](https://user-images.githubusercontent.com/6752228/103569894-58a8b380-4e85-11eb-81af-a

[2021-01-04 20:22] marciot commented on #98
On further examination, it looks like the Cura layer display relies on geometry shaders, which are not supported in WebGL

[2021-01-04 20:24] marciot commented on #128
@thebelin: While this is something that bothers me, it is a limitation of WebGL which does not support thick lines. You can see some of my other comments regarding this here https://github.com/SynDaverCO/symple-slicer/issues/98 .

[2021-01-04 20:25] marciot commented on #98
Possible alternatives include:

- Rendering the top layer as a GL texture.
- Using a canvas element and CSS3DRenderer

But these are all relatively involved workarounds.

[2021-01-06 05:53] stanreuben commented on #126
Hello there, Yes I'm now perfectly okay with everything, thank you so much I'll close the issue

[2021-01-06 05:53] #126 closed

[2021-01-06 06:06] stanreuben opened #130 "Need to know about Profiles and Using this Open Source"
Hello There,

I would like to clone this project and use it. I would like to add profiles for my printers, I can see that Syndaver and Cura Default profiles are there I would like to add other profiles as well for my Printers

I would like to use Symple Slicer on my website and I'll give attribution to SynDaver according to AGPL License

Kindly Note

1. I would like to clone the open source projec

[2021-01-06 08:55] stanreuben opened #131 "Save Option"
The save code option in Slicer beta version isn't available. Kindly check

![Screenshot 2021-01-06 at 2 23 45 PM](https://user-images.githubusercontent.com/75202932/103749014-f1c4ff00-502a-11eb-993f-c2325c49f578.png)

[2021-01-06 16:49] marciot commented on #131
@stanreuben: Yeah, I pushed some broken code into the repo by mistake. I should have a fix in by the end of the week.

[2021-01-06 17:04] stanreuben commented on #131
Sounds great

[2021-01-06 17:04] #131 closed

[2021-01-07 05:11] stanreuben commented on #130
Kindly let me know, I'm waiting for your kind reply

Thank you

[2021-01-07 06:16] stanreuben opened #132 "Print is falling outside the area if .toml is imported"
Hello there,

There is abug in the slicer, the print is always falling outside the area after it is sliced, I have tried center the object option also but it is not at all responding, Kindly look into this matter

![Screenshot 2021-01-07 at 11 44 49 AM](https://user-images.githubusercontent.com/75202932/103858207-f696bb00-50dd-11eb-8591-dfed22fe1fed.png)
![Screenshot 2021-01-07 at 11 44 34 AM](htt

[2021-01-07 06:25] stanreuben commented on #132
This happens when I apply this toml file
[config (3).toml.zip](https://github.com/SynDaverCO/symple-slicer/files/5779921/config.3.toml.zip)

[2021-01-07 17:21] marciot commented on #130
@stanreuben: There is a new feature in beta that allows you to add profiles without forking the whole program.

This is not necessarily a new feature, as I had the basic functionality in there already for my own testing, but now I made it visible in the UI for anyone who wants to use it. This would allow you to publish your profiles in a repo and simply direct people to add the URL to Symple Slice

[2021-01-08 06:06] stanreuben commented on #130
Hey, @marciot Thank you for your kind information.

Let me tell you what and all we will be experimenting with the slicer

We will be bringing automated STL import from our website and After slicing we will save the gcode file on our web server itself, the gcode file won't be downloaded into the desktop/local.

[code]

So if I fork the repository and the only changes would be saving it into the we

[2021-01-08 06:44] stanreuben opened #133 "Profile Section additional Layer Height Quality Options"
Hey @marciot A Feature Request required, In the Profile Section I can see only two options to choose from. There's
[code]

I would like to add 2 more to ease out the complicated things in the Slice Objects and need this option desperately as I'm using Symple Slicer for all of my Printers and in my farm too

[code]

Let me give you a quick overview of the Quality option given in Other Slicers givin

[2021-01-08 06:45] #132 closed

[2021-01-08 23:36] marciot commented on #127
@synwest: This is fully implemented in the web beta version now (the Symple Slicer Desktop has a slightly older code, so please look at the web one). Let me know what you think.

[2021-01-09 00:11] SynWillinger commented on #130
@stanreuben thank you for your interest, and your project sounds exciting. However, we as a company are not able to support forked projects or give specific legal advice. The project is licensed under the AGPL V3 license and is able to be forked and worked on as long as that license is followed. https://www.gnu.org/licenses/agpl-3.0.en.html

[2021-01-09 00:11] #130 closed

[2021-01-14 17:01] SynWillinger opened #134 "output format not set if "stl" appears in filename"
**Describe the bug**
If the string "stl" appears in the filename of the input model, that stl string will be replaced with "gcode" and the ".stl" will remain as ".stl".

**Details**
 - SympleSlicer Version: 1.0.158
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Load a file with a name like "*stl.stl"
2. Slice and proceed to Print and Preview
3. Observe that the "Save as"

[2021-01-21 18:51] Rosey1855 opened #135 "Edge auto update"
When I refresh the slicer in microsoft edge the slicer does not show any updates. I think the auto update could be broken.

[2021-02-01 23:17] synsuiter opened #136 "AXI v2"
**Is your feature request related to a problem? Please describe.**
No Problem.

**Describe the solution you'd like**
Duplicate all the AXI v1 machine files, only change is the machine name: AXI v2

**Describe alternatives you've considered**
None, this is the process.

**Additional context**
Gracias :)

Please leave the "supported profiles" list for that machine BLANK. Acceleration and Jerk Tuning

[2021-03-16 16:05] SynWillinger opened #137 "Models auto-resizing without notification"
**Describe the bug**
Not exactly a bug, but the template fits. When you load a model that is too large, it is automatically scaled down to fit the build area - but at the same time, it provides no notification that it was done. This has caused users to not notice it was scaled down, and then they printed their object to the wrong size.

**Details**
 - SympleSlicer Version: 1.0.16
 - Browser [e.g.

[2021-03-18 17:21] synsuiter opened #138 "Update Firmware Version #"
**Is your feature request related to a problem? Please describe.**
No problem, just need to get more info to the customer

**Describe the solution you'd like**
A "version number" displayed above or bellow the "update firmware" buttons, so the customer is aware of what version they will be flashing to.

**Describe alternatives you've considered**
Pop up notifications for new releases, website annou

[2021-03-18 17:21] synsuiter commented on #137
issue is resolved. I am going to close.

[2021-03-18 17:21] #137 closed

[2021-03-18 19:25] synsuiter commented on #135
What version does your edge browser say you are on?
Have you already tried wiping your entire browser history and cache clean?
There can be an issue if you use/have open, the beta version and the user version.

[2021-03-18 19:27] Rosey1855 commented on #135
Im on version 1.0.16. I have not cleared my cache or browser history.

Mike Rosenhagen

Production Team Lead

SynDaver

3121 N Garfield Ave

Loveland, CO. 80538

Main: 970-685-4501

***@***.******@***.***>

SynDaver products have appeared on recent episodes of ABC's Shark Tank and Grey's Anatomy, Discovery Channel's MythBusters, CBS’s CSI and Sunday Morning, CNN’s Great Big Story, NBC's Crossbones

[2021-03-26 16:32] synsuiter opened #139 "Text correction"
We are still referring to the files as "G-code" in the options but we are defaulting them to ".gco".

This will confuse any new user.

Since we are moving forward with ".gco", we should correct the options to match.

![print_and_preview](https://user-images.githubusercontent.com/65256117/112663485-8109d380-8e1e-11eb-8ad0-def15ef21178.png)

[2021-03-26 16:53] marciot commented on #139
@synsuiter: This is correct. The ".gco" is the file extension for G-code files, the same way as ".txt" is the extension for text files. You don't call text files ".txt" files.

[2021-03-26 17:05] synsuiter commented on #139
@marciot ok, I will explain in the guide and hopefully they read it

[2021-03-26 17:05] #139 closed

[2021-04-01 16:54] synsuiter opened #140 "TOML import error"
I was on the current, 1.0.16, version of the User Symple Slicer.

**Describe the bug**
Not a bug, more like a communication improvement request.

I imported a .TOML file that was missing the quotes around one of the named values: "zigzag".
When I applied the profile, Symple Slicer gave me this pop up message: "Error: Cannot read property 'split' of undefined Line:"
BUT it did not give me the line

[2021-04-01 17:00] synsuiter opened #141 "Power Cycle X axis raise"
**Is your feature request related to a problem? Please describe.**
No Problem.
This feature has been helpful for those with multiple printers who want to service/clean the beds along the same schedule. Since there is no other fast and convenient way to put the printers into an easily serviceable position, this has become a tool.

**Describe the solution you'd like**
Re-introduce this function to t

[2021-04-01 17:07] synsuiter opened #142 "Custom "home" positions"
**Is your feature request related to a problem? Please describe.**
No Problem.

**Describe the solution you'd like**
I would like to be able to save a custom position that my printer will move to after/when it "Auto Home"s.

This could be convenient for customers because not every customer is going to want their printers in the same position for cleaning/servicing/etc.
Those who switch filament a

[2021-04-01 18:32] synsuiter opened #143 ""Update Firmware with Wi-fi" printer choice option"
**Is your feature request related to a problem? Please describe.**
Wifi Firmware updating - unable to specify which printer to flash when connected to multiple wifi printers.

Current Process:
- Set up printer wifi (only one printer)
- go to "Update Firmware"
- Select "Update Wireless Firmware"
- click "Update"
- A new tab opens to the printer IP address page
- you are asked to OK the file transfe

[2021-04-01 18:57] synsuiter opened #144 "Unable to flash through USB"
i originally did this on the current user version (1.0.16), I was not able to replicate on the beta version because my machine no longer had firmware to connect with.

**Describe the bug**
When flashing my firmware using a USB connecting cable, the process wiped my printers firmware and then did not rewrite new firmware onto it.

**Details**
I was testing firmware flashing and writing instructions

[2021-04-01 19:24] synsuiter commented on #144
I repeated this a 4th time with Samantha, no process changes, and it was successful, finding the proper bossa COM thing to connect to for flashing. I am going to close this out but leave it in the "closed" section in case this is more of a reliability ticket than a fail ticket and needs to be addressed later on.

[2021-04-01 19:24] #144 closed

[2021-04-02 14:45] marciot commented on #142
Without some pretty major changes to Marlin, this would require the firmware to be recompiled for each different homing position. So it likely won't get done.

[2021-04-02 15:15] synsuiter commented on #142
Closing

[2021-04-02 15:15] #142 closed

[2021-04-08 15:07] synsuiter opened #145 "Firmware Update extra step request"
**Is your feature request related to a problem? Please describe.**
There is too high risk that a customer will have the wrong printer applied when they flash firmware through Symple slicer.

**Describe the solution you'd like**
We would like an extra step in the firmware update process.

FOR BOTH USB AND WIFI PROCESSES:
Update Firmware -> "Update" -> **Please choose your printer** -> Continue firm

[2021-04-09 14:46] synsuiter commented on #135
@Rosey1855 Have you cleared your cache and tried this again?

[2021-04-09 15:22] synsuiter commented on #129
@thebelin Thank you for your request. We are currently working to include more Settings options in the User Interface of Symple Slicer, including your requested settings.
I am going to close out this ticket to clear up our ticket list for bug fixes but I want to assure you, We are on it!

Have a good one!

[2021-04-09 15:22] #129 closed

[2021-04-09 15:24] #127 closed

[2021-04-09 15:27] #115 closed

[2021-04-09 15:32] synsuiter commented on #106
This appears to be good to go.

I do want to note that when the model is sized down, it does not "center" on the bed, but is slightly off center. Since this is not a major issue, I am closing this out and will open a new ticket if the centering becomes an issue.

[2021-04-09 15:32] #106 closed

[2021-04-09 15:36] synsuiter commented on #36
Due to changes in development direction, I am closing this out.

Too much is changing in Symple Slicer to use this direction as an advancement.

[2021-04-09 15:36] #36 closed

[2021-04-09 15:37] synsuiter commented on #141
wrong board! oops....

[2021-04-09 15:37] #141 closed

[2021-04-09 15:38] synsuiter commented on #135
@Rosey1855 Could this be related to #62 ?

[2021-04-09 15:39] synsuiter commented on #66
@marciot Does this need further action from us? Are we keeping it open for reference?

[2021-04-09 15:41] #76 closed

[2021-04-09 15:44] #89 closed

[2021-04-09 15:45] #92 closed

[2021-04-09 15:47] synsuiter commented on #105
This has not yet been an issue for our customers. I am going to close this out.

[2021-04-09 15:47] #105 closed

[2021-04-09 16:31] marciot commented on #145
This is actually tricky to do. Would a possible alternative be a yes and no question asking "You are about to flash for an SynDaver Axi?" is this correct?

[2021-04-09 17:03] synsuiter commented on #145
@marciot

Temp Solution:

A double checking confirmation box, instead of a selection process.

Process:
- UPDATE FIRMWARE
- UPDATE
- RED WARNING BOX: "You are about to Flash your **insert applied printer name here** with **insert firmware printer and version here** Firmware. Would you like to continue?    [OK]    [CANCEL]"
- Continue update process...

[2021-04-13 16:48] SynWillinger commented on #118
This has been fully fixed

[2021-04-13 16:48] #118 closed

[2021-04-13 18:35] synsuiter opened #146 "Typo"
Change "Upgrade" to "Update" on the Firmware update pop up.
![Capture](https://user-images.githubusercontent.com/65256117/114603211-b43cc700-9c54-11eb-941d-50ee7b884bbc.PNG)

[2021-04-14 16:56] synsuiter commented on #145
There has been a double check question implemented, I am going to close this ticket.

[2021-04-14 16:56] #145 closed

[2021-04-15 15:21] synsuiter opened #147 "Add "applied printer" area"
**Is your feature request related to a problem? Please describe.**
If you are in mid process, there is no way of knowing which printer you currently have applied.

**Describe the solution you'd like**
somewhere static on the screen, small and in a light text, should be the type of printer that is applied to Symple slicer.

Not sure where the best area is, it will add clutter to the screen, this ha

[2021-04-22 15:04] synsuiter commented on #147
Wanted to add this:
had a tech support call yesterday where a customer was convinced the "save settings from last session" wasn't being applied properly for his machine selection.
He has an AXI 2 but claims when he tried to use his AXI 2 settings from his previous session, it was not switching to an AXI 2 but remaining an AXI 1.

I tested this and I went through the full process of slicing two pri

[2021-04-28 14:30] synsuiter commented on #147
Love that placement! This does exactly what we need!

Few notes/questions from here:

1) Can we make the text smaller and change the Type Face to match the general text used elsewhere?
2) What does it display when the program first loads up, before a customer has applied a printer for the first time?
- This one I am going to go check in a moment but I need to clear all my browser stuff and right n

[2021-04-28 14:59] synsuiter commented on #147
# 2 = It displays "SynDaver Axi" before a machine has been applied.

[2021-04-30 18:52] synsuiter commented on #147
Please reduce text of printer type by ~40% we want it visible but not as prominent as it is currently.

[2021-04-30 19:25] synsuiter opened #148 "Color Change"
The applied printer name, the build area outlines, and the blue bed build plate grid squares
should all be changed to the SynDaver color blue to move away from the Cura Ultimaker lighter blue theme.

[2021-05-03 21:36] synsuiter opened #149 "Symple Slicer Guide images"
Broken Images:

These images are not appearing in the Guide, they might need to be added in due to an update or addition, or it may be a text thing I have not been able to find.

1) [[figure:images/tools.PNG]]
2) [[figure:images/select_profiles3.png]]
3) [[figure:images/save-settings.png]]

[2021-05-06 17:13] marciot commented on #149
@synsuiter: This can be closed, right?

[2021-05-06 17:34] synsuiter commented on #149
Indeed! 😸

[2021-05-06 17:34] #149 closed

[2021-05-06 17:36] marciot commented on #148
@synsuiter: This can be closed, right?

[2021-05-06 17:36] marciot commented on #147
@synsuiter: This can be closed, right?

[2021-05-06 17:37] marciot commented on #134
@SynWillinger: This can be closed, right?

[2021-05-06 17:37] marciot commented on #146
@synsuiter: This can be closed, right?

[2021-05-06 17:40] synsuiter commented on #148
Good to go!

[2021-05-06 17:40] #148 closed

[2021-05-06 17:40] synsuiter commented on #147
Lookin good.

[2021-05-06 17:40] #147 closed

[2021-05-06 17:40] synsuiter commented on #146
Gracias!

[2021-05-06 17:40] #146 closed

[2021-05-06 17:49] SynWillinger commented on #134
@marciot yes, I recall this one having been resolved a while ago, and just double-checked in the current release. My bad for not getting this closed sooner.

[2021-05-06 17:49] #134 closed

[2021-05-07 14:14] marciot commented on #138
@synsuiter: Can this one be closed?

[2021-05-07 14:15] marciot commented on #135
@synsuiter, @Rosey1855: Can this ticket be closed? I believe it refers to the old Edge. Now it is based on Chromium so I assume this is no longer relevant.

[2021-05-07 14:15] marciot commented on #62
@synsuiter, @Rosey1855: Can this ticket be closed? I believe it refers to the old Edge. Now it is based on Chromium so I assume this is no longer relevant.

[2021-05-07 14:19] synsuiter commented on #62
Yes.

[2021-05-07 14:19] #62 closed

[2021-05-10 14:11] synsuiter opened #150 "Moving the warning"
**Is your feature request related to a problem? Please describe.**
The LCD screen fade out is causing customers to panic because they are not reading the warning before seeing the fade.

**Describe the solution you'd like**
we can either make the warning pop up long before the process does that or we can make the warning more prominent. I do not think we can edit browser pops ups though, so timing

[2021-05-10 14:12] synsuiter commented on #150
Can we have it so the firmware wipe does not begin until after "OK" is selected on that pop up?

[2021-05-10 14:21] marciot commented on #150
@synsuiter: No. According to browser security rules, once they click the "Update" button there can be no more than a second or so delay before the flash begins. If I were to put a dialog box right after they click that button, then it would violate that requirement and the flash would fail. We would have to force the user to click "Update" again in order to get another chance at flashing the firmw

[2021-05-10 14:25] synsuiter commented on #150
can we make the text bigger in that warning pop up?

[2021-05-10 14:28] synsuiter commented on #150
ah, i did not think so. ok, we will discuss some other options here and get back to you on this one.

[2021-05-10 14:35] marciot commented on #150
We could also add some text in red right above the "Update" button. This text would not be part of the alert boxes. It would just always be there.

[2021-05-10 15:30] synsuiter commented on #150
Not a bad idea, I'll ask around here.

Could we have the actual stages of the button itself change? like this:
step 1) button says "ACCEPT UPDATE WARNING"
step 2) button says "BEGIN PRINTER WIPE"
step 3) button says "UPDATE PRINTER FIRMWARE"
?

[2021-05-10 15:33] marciot commented on #150
That's way too complicated to do. I think a big red warning will be sufficient. We wouldn't need three steps, just the current two.

[2021-05-10 15:45] synsuiter commented on #150
Yeah, sounds like the best option

[2021-05-10 17:00] marciot commented on #150
@synsuiter fix for this pushed to SS beta, v1.0.19

[2021-05-12 16:34] synsuiter commented on #150
I like the change, I am going to close this out.

[2021-05-12 16:34] #150 closed

[2021-05-12 17:26] synsuiter opened #151 "Objects rearranging unexpectedly"
**Describe the bug**
After arranging my objects the way I want them, I decide to pick a different material, or I realize I have the wrong printer selected. Then I go any APPLY the new profile or machine.

When I do this, all models that have been arranged and placed will reload onto the bed and ignore any placement done prior to the "APPLY" of a new profile or machine.

**Expected behavior**
If po

[2021-05-12 19:43] synsuiter opened #152 "Special Modes: One at a Time"
**Describe the bug**
Feature not working/broken.

**Details**
 - SympleSlicer Version: 1.0.19 (BETA)
 - Browser [e.g. chrome, safari]: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open Symple Slicer
2. Apply profile and machine settings
3. In "slice settings", under "Special Modes" change the Print Sequence to "One at a time"
4. Slice.
5. See resulting preview, or try running the p

[2021-05-12 19:49] synsuiter commented on #152
I was able to confirm that the setting is being applied.

I applied a PLA and AXI 2 profile
Then I changed the Print sequence option in the Slice Settings to "One at a time"
Then I saved my print settings.
The option was present and active: **print_sequence = "one_at_a_time"**

[2021-05-12 19:55] synsuiter commented on #152
Cura Ulti Function:

![Capture5](https://user-images.githubusercontent.com/65256117/118036329-acdb0d00-b329-11eb-8445-2ed7c6171eb2.PNG)
![Capture6](https://user-images.githubusercontent.com/65256117/118036330-ad73a380-b329-11eb-9a5e-56a81e9f8277.PNG)
![Capture7](https://user-images.githubusercontent.com/65256117/118036331-ad73a380-b329-11eb-92c1-0bdfc88b5037.PNG)
![Capture8](https://user-images.gi

[2021-05-12 19:57] marciot commented on #151
I can look into this, but changing a printer is sort of like taking the table cloth off a table. Everything comes off with it...

[2021-05-12 20:01] synsuiter commented on #151
Darn, That's kind of what I was thinking was happening, we can close this as a "wont fix" if there is nothing to be done.

[2021-05-12 21:19] synsuiter commented on #152
I edited the Printhead settings and Gantry in CURA Ulti and when I selected "One at a time" it altered the build volume accessibility. This is normal and should happen.
![Capture9](https://user-images.githubusercontent.com/65256117/118045653-6db2b900-b335-11eb-873a-f0c57cecd1c6.PNG)

[2021-06-07 14:27] marciot commented on #152
@synsuiter: So I contacted Ultimaker about this and they informed me that printing one at a time is not a Cura Engine feature. It is actually something that is implemented in the Cura UI itself. There are a lot of roadblocks to bringing this functionality in Symple Slicer and doing so would be a major development effort. Roughly, the problem consists of two parts:

1. Validating whether the print

[2021-06-07 14:32] synsuiter commented on #152
That is a fair, darn. Okydoky, I'll bring this up today and let everyone know.

Thanks for checking into it @marciot

[2021-09-02 17:52] marciot commented on #152
@synsuiter: As of the latest SS beta, one-at-a-time mode has been enabled.

It turns out either Ultimaker misled me about the CuraEngine not supporting this, or I misinterpreted what they said; it turns out that the engine can indeed do one-at-a-time mode, but it required some tweaking to the way SS presents STL files to the engine. With that change done, it seems to work reasonably well.

There i

[2021-09-09 13:27] AlbertMN opened #153 "[Suggestion] add slicer identifier in top of GCODE file"
Hello there.

I'm from the company called [SimplyPrint](http://simplyprint.io/) where we make it possible to print wirelessly anywhere from our platform. One of our features is a custom GCODE analyzer, where we read through the GCODE file to figure out which slicer it is, time estimate and such.

We'd like to add this slicer to the list of recognized slicers, but that'd require you add a unique id

[2021-10-06 17:14] synsuiter opened #154 "Product Name Spelling"
**Describe the bug**
All Symple Slicer reference to the products Level and Level Up, must be spelled:

LeveL

LeveL UP

Case sensitive.

[2021-10-15 15:00] synsuiter opened #155 "Add Z seam view"
**Is your feature request related to a problem? Please describe.**
Unable to view where the Z seam is placed in the Layer view of a slice. **Not a problem,** but would be a very helpful feature.

**Describe the solution you'd like**
The layers appear as lines, so could we add a "dot" or a different colored line segment or something to signify the area of the Z scare placement?

**Describe alternat

[2021-10-18 14:24] marciot commented on #154
@synsuiter: Can this be closed? The change has been in beta for a while. Let me know if there is any place I missed.

[2021-10-18 15:12] #154 closed, assigned to marciot

[2022-03-16 17:40] synsuiter opened #156 "Beta Supports preventing a complete slice"
**Describe the bug**
When Supports are enabled in the Beta Symple slicer, the slice never "finishes" it only remains "slicing" (loading).

**Details**
 - SympleSlicer Version: 1.1.0
 - Browser: google Chrome

**To Reproduce**
Load any model into symple slicer beta
enable supports is settings
Slice.

Please note: Beta Slices just fine if supports are NOT enabled.

Here are **Screenshots** of the br

[2022-03-18 14:07] marciot commented on #156
@synsuiter: I've seen this error before. This is happening within the Cura engine, so there is nothing I can do in Symple Slicer to address the issue. However, it seems to be caused by a profile setting since if you slice with the Cura defaults, this does not happen. The only way to track this down would be to start with the Cura defaults and then merge in bits from the desired profile until the c

[2022-03-18 21:47] marciot commented on #156
@synsuiter I found an STL that exhibited the problem and determined that downgrading to CuraEngine 4.12.1, the prior release, solved the problem. Let's give it a try and see if it is better.

[2022-03-21 21:02] synsuiter commented on #156
Working well for me, closing this ticket.

[2022-03-21 21:02] #156 closed

[2022-03-28 19:29] SynWillinger opened #157 "Add embedded thumbnail to gcodes"
**Is your feature request related to a problem? Please describe.**
To allow for thumbnails of prints to be available in print interfaces, the slicer will need to embed the images into the gcode. We want to target the QOI format first for our purposes, though PNG format would be good to have in addition to that.

**Describe the solution you'd like**
The slicer should create an image of the STL(s) t

[2022-04-20 15:10] SynWillinger opened #158 "Add dual extruder UI controls"
**Is your feature request related to a problem? Please describe.**
Currently, Symple Slicer lacks the ability to do dual extrusion due to controls for it not being implemented in the UI.

**Describe the solution you'd like**
Specifics of this implementation are still being discussed.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-05-02 17:34] SynWillinger opened #159 "wifi printing error: addr is not defined"
**Describe the bug**
In the current beta, if I try to send a sliced gcode to a machine, I get the following error:
![image](https://user-images.githubusercontent.com/60902184/166295731-59ecd4cd-0668-4349-96e4-64ee92b0f00f.png)

**Details**
 - SympleSlicer Version: beta 1.1.0 as of 5/2
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a machine in the Wifi Printing sec

[2022-05-02 18:15] synsuiter opened #160 "Note added to 1st slice Setting box"
**Is your feature request related to a problem? Please describe.**
To a previous user, it is not clear during the normal process that they can change their setting options.

**Describe the solution you'd like**
I would like to add this note to the "settings" section when 1st slice is active.

"To access more setting options, go to 'Advanced Features' and customize your 'User Interface' experience.

[2022-05-02 18:18] synsuiter commented on #159
confirmed on my end
![wifi-error-confirmed](https://user-images.githubusercontent.com/65256117/166302729-79c921ae-5b42-4a4e-a562-6e5ff1c97e38.JPG)

[2022-05-03 17:02] SynWillinger commented on #159
This issue has been corrected based on our testing.

[2022-05-03 17:02] #159 closed

[2022-05-04 14:13] marciot commented on #160
@synsuiter: First slice is only active if the user changes to that mode, so at that point they would already know how to change mode. The "syndaver-default" is the mode that comes up by default. Do you want first slice to be the default mode?

[2022-05-04 14:16] synsuiter commented on #160
oh! ok, when I loaded mine up it was in first print mode, that must have been from a previous load tho. ok, no worries.

I have some confusion on how 1st print mode would work because if it was their first print, then they wouldnt know to go set it to "1st print" mode so they would just be using default. II dont know the best solution here, maybe we can discuss it in the meeting.

[2022-05-06 21:24] SynWillinger opened #161 "Multiple copies of models loaded in certain circumstance"
**Describe the bug**
Upon dragging and dropping multiple files into the file loading section following previously loading a model, it creates additional instance of the models.

**Details**
 - SympleSlicer Version: 1.1.0
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open Symple Slicer and navigate to the Place Objects section.
2. Load a model via either the file navigati

[2022-05-06 21:24] SynWillinger opened #162 "Clearing build plate makes subsequent models non-interactable"
**Describe the bug**
After using the "Clear Build Plate" command, loaded objects cannot be interacted with. This applies at least to model selection by clicking on it or using "Select All Objects", the "Clear Build Plate" command, and "Arrange All Objects". Models effected by this bug also will not auto-arrange after loading.

**Details**
 - SympleSlicer Version: 1.1.1 beta (as of 5/6)
 - Browser:

[2022-05-06 21:53] SynWillinger opened #163 "Select All Objects not selecting all objects"
**Describe the bug**
Upon loading multiple objects and selecting "Select All Objects", not all objects are selected.

**Details**
 - SympleSlicer Version: 1.1.1
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Load a few models
2. Right click in the 3D view area and select "Select All Objects"
3. See error

**Expected behavior**
All objects should be selected

**Screenshots

[2022-05-06 22:22] synsuiter commented on #160
I think we are good here now.

[2022-05-06 22:22] #160 closed

[2022-05-09 17:51] SynWillinger commented on #161
This issue has been corrected in beta on 5/9

[2022-05-09 17:51] #161 closed

[2022-05-09 17:51] SynWillinger commented on #162
This issue has been corrected in beta on 5/9

[2022-05-09 17:51] #162 closed

[2022-05-09 17:51] SynWillinger commented on #163
This issue has been corrected in beta on 5/9

[2022-05-09 17:51] #163 closed

[2022-08-15 21:27] synsuiter opened #164 "Start Gcode R and S Values not being filled"
**Describe the bug**
The start gcode is just a template when a slice is generated, the values in the Slicer are not plugged in.

**Details**
I have tried many slices, AXI2, different materials and models, all are showing a template start gcode

**Additional context**  See pasted start of generated gcode bellow.

;FLAVOR:Marlin
;TIME:380
;Filament used: 0.242329m
;Layer height: 0.2
;MINX:127.006
;M

[2022-08-15 21:42] synsuiter commented on #164
I noticed a PLA gcode I generated is supposed to set the nozzle temp at the 2nd layer (LAYER: 1), and it isnt doing that but the Bed temp is still updated. (note: bed temp was still unfilled in start gcode)

;FLAVOR:Marlin
;TIME:34039
;Filament used: 29.9673m
;Layer height: 0.2
;MINX:38.29
;MINY:53.205
;MINZ:0.2
;MAXX:241.077
;MAXY:229.279
;MAXZ:44.8
M82 ;absolute extrusion mode
;This G-Code has b

[2022-08-15 22:09] synsuiter opened #165 "Unable to generate gcode"
**Describe the bug**
The Slicer is "loading" but never finishes the slice. Loading bar remains empty.

**Details**
All materials with AXI2 show this error.

I made sure to shut down and wipe my browser history just in case. This did not fix the issue.

**Screenshots**
![PLA_standard-profile_no-edits](https://user-images.githubusercontent.com/65256117/184726771-a2239a13-c8a2-4011-ba20-45c9ca1bc2e4.

[2022-08-15 22:10] synsuiter commented on #165
Chrome Browser

1.1.1 Symple slicer BETA

[2022-08-15 22:18] synsuiter commented on #165
Confirmed with multiple models

[2022-08-15 22:39] synsuiter commented on #165
UPDATE:
Progress bar now loads, still sitting in slice purgatory.

Here is the bottom info of one of the Slice LOGs
![pla_slicing-frozen-at-complete2](https://user-images.githubusercontent.com/65256117/184732711-01e9d242-f32f-4f5a-b384-9719cb8e8f76.JPG)

M117 AXI Printing
" -s infill_offset_y="0" -s build_volume_temperature="0" -s acceleration_support_infill="3000" -s skin_outline_count="1" -s sup

[2022-08-15 22:47] synsuiter commented on #164
Gcodes now have populated values. Closing ticket.

[2022-08-15 22:47] #164 closed

[2022-08-15 22:48] synsuiter commented on #165
TICKET UPDATE: this may be related to stl size and might only be a long delay, hard to determine at this time.
More data needed.

[2022-08-18 20:24] synsuiter opened #166 "2D images not slicing"
**Describe the bug**
2D images will not produce a printable slice.

**Details**
 - SympleSlicer Version: 1.1.1 beta
 - ALSO present in the Live User Version
 - Browser : Chrome

**To Reproduce**
Steps to reproduce the behavior:
1) apply a printer and material profile
2) load in a 2d image, "create" the 3d model.
3) "slice" the model.
4) you will get a gcode with 0 layers.

**Expected behavior**
Th

[2022-08-18 21:02] synsuiter opened #167 "Unable to export/save .toml files"
**Describe the bug**
I am unable to save my custom toml files through the "Slicing" page or the "Advanced" page.

**Details**
 - SympleSlicer Version: 1.1.1 Beta
 - Browser : Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Apply machine and material profiles
2. Load in model (any)
3. Attempt to save the toml file in the "slicing" section. (unable)
4. Slice model, wait for Preview sect

[2022-08-18 21:07] synsuiter opened #168 "PLA profile missing from NG2"
**Describe the bug**
PLA profile is not listed in the materials drop down for the NG2 printer

**Details**
 - Symple Slicer Version: 1.1.1 BETA
 - Browser : CHROME

**To Reproduce**
Steps to reproduce the behavior:
1. Load up SS beta.
2. Select the NG2 printer
3. observe the material list for that printer

**Expected behavior**
Even tho they are not custom for the NG2 yet, a stand-in PLA profile s

[2022-08-18 21:20] synsuiter opened #169 "Missing # values in "ALL CURA settings" option"
**Describe the bug**
The # values in the "slicing" portion are not showing up when the "All CURA Settings" option is applied. They are present in the backend but not visually there in the UI.

**Details**
 - SympleSlicer Version: 1.1.1 BETA
 - Browser : Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open Symple Slicer
2. Go to the Advanced options and apply the level "All Cura Settin

[2022-08-18 21:27] synsuiter opened #170 "No support option for beginners"
**Describe the bug**
The "Beginners" setting level option has a "Support" section but does not show the Check box when expanded. It is effectively empty.

**Details**
 - SympleSlicer Version: 1.1.1 BETA
 - Browser : Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. open Symple Slicer
2. Go to the Advanced settings
3. Apply the setting level "Beginner"
4. Select and apply a printer and a

[2022-08-18 21:29] synsuiter commented on #165
Closing ticket. Gcode generates reliably but it taking MUCH longer than usual to complete. Opening new ticket regarding slice speed.

[2022-08-18 21:29] #165 closed

[2022-08-18 21:38] synsuiter opened #171 "Models moving when sliced"
**Describe the bug**
When slicing more than one unique model, they will reposition themselves when you engage the "slice" function.
This was confirmed with numerous model pairs, they only need to be different models.

**Details**
 - SympleSlicer Version: 1.1.1 BETA
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open Symple Slicer
2. Select an AXI printer and any material

[2022-08-19 14:32] marciot commented on #168
@synsuiter: There is no profile for PLA specified in "profile_lists.toml" for the NG2, hence the behavior in the UI is correct.

[2022-08-19 14:32] #168 closed

[2022-08-19 14:49] marciot commented on #170
@synsuiter: This is because "support_enable" was missing from the beginner settings. I added it.

[2022-08-19 15:12] synsuiter commented on #170
Gracias, closing ticket.

[2022-08-19 15:12] #170 closed

[2022-08-19 19:21] marciot commented on #171
@symsuiter: Have been unable to reproduce this.

[2022-08-19 19:31] marciot commented on #171
@symsuiter: Export your settings and make sure nether mesh_rotation_matrix, mesh_position_x, mesh_position_y nor mesh_position_z are in the settings. If it is, it may override the positioning for objects.

[2022-08-19 22:05] synsuiter opened #172 "Unable to Import profile"
**Describe the bug**
no UI button option to brows and upload a profile from a file.

**Details**
 - SympleSlicer Version: 1.1.1 BETA
 - Browser : CHROME

**To Reproduce**
Steps to reproduce the behavior:
1. Open Beta SS
2. Try to upload a .toml file from your computer, you will not find a button for it.

![no-upload](https://user-images.githubusercontent.com/65256117/185713240-37b495df-13bc-4263-8

[2022-08-19 22:12] synsuiter commented on #124
Closing, the STOP button works great.

[2022-08-19 22:12] #124 closed

[2022-08-22 16:48] synsuiter commented on #172
Fixed, closing ticket

[2022-08-22 16:48] #172 closed

[2022-08-22 16:49] synsuiter commented on #171
Upon removing the following settings as a factor, the models still moved at time of slice.

- mesh_position_x
- mesh_position_y
- mesh_positionz
- mesh_rotation_matrix

[2022-08-22 16:53] synsuiter commented on #171
When I change all those settings to a value of "0", there is no change in the shifted position result when sliced.

[2022-08-22 16:56] marciot commented on #171
@synsuiter: You should not change the values to zero. You should remove them altogether.

[2022-08-22 16:58] synsuiter commented on #171
I did both, I was reporting that removing them AND changing them, make no difference.

[2022-08-22 17:01] synsuiter commented on #171
Here are the profiles I have tested.
[offset-tester.txt](https://github.com/SynDaverCO/symple-slicer/files/9396212/offset-tester.txt)
[offset-tester_changed.txt](https://github.com/SynDaverCO/symple-slicer/files/9396213/offset-tester_changed.txt)
[offset-tester_fixed.txt](https://github.com/SynDaverCO/symple-slicer/files/9396214/offset-tester_fixed.txt)
[offset-tester_removed.txt](https://github.c

[2022-08-22 17:35] synsuiter commented on #171
Fixed!! :D closing ticket.

[2022-08-22 17:35] #171 closed

[2022-08-22 19:34] synsuiter commented on #169
values now visible. Closing ticket.

[2022-08-22 19:34] #169 closed

[2022-08-22 19:34] synsuiter commented on #167
Now able to export and save custom profiles. Closing ticket.

[2022-08-22 19:34] #167 closed

[2022-08-22 20:33] synsuiter opened #173 "Slice timing long or incompletable"
**Describe the bug**
The Benchy model WILL slice slowly but the Dragon model attached takes much longer or will not complete, I have been unable to wait long enough for it to complete. Currently longest wait time is ~9 minutes until I had to refresh the page or change my focus.

**Details**
 - SympleSlicer Version: 1.1.1
 - Browser : Chrome Browser

**To Reproduce**
Steps to reproduce the behavior

[2022-08-22 20:56] synsuiter opened #174 "Error in transformation tools"
**Describe the bug**
When using the transformation tools, the models that are transformed, revert to the original when sliced.

**Details**
 - SympleSlicer Version: 1.1.1 BETA
 - Browser : CHROME Browser

**To Reproduce**
Steps to reproduce the behavior:
1. Open Symple Slicer
2. Load in a model (any)
3. Transform the model (refer to images for result of each tool type).
4. Slice Model and observe

[2022-08-22 21:03] synsuiter commented on #166
Images now sliceable, closing ticket.

[2022-08-22 21:03] #166 closed

[2022-08-23 16:10] synsuiter commented on #174
All tools are transforming the model and remaining transformed after slice. closing this ticket

[2022-08-23 16:10] #174 closed

[2022-08-23 21:49] synsuiter opened #175 "Unable to import custom toml files"
**Describe the bug**
The option to upload a custom .toml file is present in the UI. When you upload a .toml file, all settings, regardless of custom settings, match the Standard PLA profile. Even if the base exported profile was for a different material.

**Details**
 - SympleSlicer Version: 1.1.1 BETA
 - Browser : Chrome Browser

**To Reproduce**
Steps to reproduce the behavior:
1. Open Symple Sl

[2022-08-26 22:21] synsuiter commented on #173
list of changed json parameters and values:

bottom_skin_expand_distance (0.8 to 1.0)
bottom_skin_preshrink (0.8 to 1.0)
machine_head_with_fans_polygon (-45,100,-45,-40,50,-40,50,100 to -20,10,-20,-10,10,-10,10,10)
mesh_rotation_matrix (nonexistent to [[1,0,0], [0,1,0], [0,0,1]]
raft_base_speed (22.5 to 15)
raft_ interface_line_spacing (1 to 0.89999...)
raft_interface_speed (22.5 to 15)
skin_edge_

[2022-08-26 22:32] synsuiter commented on #173
Speed back to expected. Closing ticket.

[2022-08-26 22:32] #173 closed

[2022-08-29 15:42] synsuiter commented on #175
profile import ability has been repaired, closing ticket.

[2022-08-29 15:42] #175 closed

[2022-08-30 17:44] synsuiter opened #176 "Drop Down profile Application required"
**Describe the bug**
When opening a new window of Symple Slicer, I am unable to import a custom toml file and then slice with it. I fist must apply a supported profile through the drop down before it registers that I have applied a printer.

**Details**
 - SympleSlicer Version: Beta 1.1.1
 - Browser : Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. open new Symple Slicer
2. import a c

[2022-09-02 14:23] marciot commented on #176
@symsuiter: A fix for this has been uploaded

[2022-09-02 16:13] synsuiter opened #177 "Disabled settings custom edits"
**Is your feature request related to a problem? Please describe.**
When I customize and then and then save a profile with the support enabled turned OFF, AFTER I have edited the settings relating to supports, related setting edits are not saved with the toml file. So when I import it for use, it will have the old settings for support when enabled through the UI.

**Describe the solution you'd like

[2022-09-02 17:47] marciot commented on #177
Have you checked the TOML file with a text editor to see if the settings are there? I am curious whether it is an issue with the saving, or with the loading.

[2022-09-23 15:45] synsuiter opened #178 "NG2 Slicer Settings"
**Describe the bug**
Some setting options that are not linked to one another, can be unique from one another, are displaying in the UI as having only one space instead of showing the 2 spaces for each nozzle.

**Details**
 - SympleSlicer Version: BETA 1.1.1
 - Browser: Google Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Symple Slicer BETA
2. Go to advanced settings and set yo

[2022-09-23 16:37] marciot commented on #178
@synsuiter: If you look in fdmprinter.def.json you will see that "Line Width" (i.e. line_width) does not have the attribute "settable_per_extruder", thus simple slicer will not consider it settable per extruder.

However, weirdly, this presents a paradox, as "line_width" is based on the value "machine_nozzle_size", which is "settable_per_extruder". Can you maybe investigate how Cura handles the pa

[2022-09-23 16:43] synsuiter commented on #178
I believe it does because the Cura Ultimaker has those, and more, settings as individual per extruder in their UI.

Another thing to consider, the nozzle diameter might define the width but the width can then be set independent of the nozzle diameter as well.
![cura-quality-settings](https://user-images.githubusercontent.com/65256117/192010879-4d73ae0e-f8b4-4927-b107-bb53d0f8f46f.PNG)

[2022-09-29 23:09] synsuiter opened #179 "Large Model Slicing Issues"
**Describe the bug**
While testing a larger build volume we found some limits in slicing when creating a custom bed size.
A 20mm cube model succeeds slicing at up to 974mm in size, but fails at 974.1 or larger in size.

Debug Console error message: "Warning: Unable to strip Cura header" which is an intentional error message implemented on line 95 of src-app/lib/slicing-engines/CuraEngine/SlicerWor

[2022-09-30 14:15] marciot commented on #179
@synsuiter: Have you tested this under Ultimaker Cura? It may be a limitation on the slicer engine, rather than Symple Slicer.

[2022-09-30 14:35] synsuiter commented on #179
Samantha got this error:

Cannot enlarge memory, asked to go up to 2148188160 bytes, but the limit is 2147483648 bytes!
Cannot enlarge memory, asked to go up to 2148192256 bytes, but the limit is 2147483648 bytes!
Aborted(native code called abort())
filename:  https://syndaverco.github.io/slicer-beta/lib/slicing-engines/CuraEngine/CuraEngine.js  lineno:  1  error:  Uncaught RuntimeError: Aborted(n

[2022-09-30 15:19] #176 closed

[2022-09-30 15:20] marciot commented on #179
Added an alert box to let the user know that the slicing engine has failed and direct them to check the slicing logs for details. Not really a fix, but something to make it easier to troubleshoot.

[2022-09-30 15:21] synsuiter commented on #177
Due to the inconsistency reproducing this error I am going to close it. We can reopen if it persists.

[2022-09-30 15:21] #177 closed

[2022-09-30 15:47] synsuiter commented on #179
Repeated on current BETA version, cube at 980 cubed

Starting slice...
Slicing model...
slice of mesh took 0.013 seconds
slice make polygons took 0.019 seconds
Progress: slice accomplished in 0.032s
Starting layerparts...
Progress: layerparts accomplished in 0.022s
Starting inset+skin...
Layer count: 3920
Progress: inset+skin accomplished in 0.587s
Starting support...
Processing platform adhesion

[2022-09-30 15:55] synsuiter commented on #179
Reduced Cube to 973 but still got failure.

Starting slice...
Slicing model...
slice of mesh took 0.014 seconds
slice make polygons took 0.021 seconds
Progress: slice accomplished in 0.036s
Starting layerparts...
Progress: layerparts accomplished in 0.019s
Starting inset+skin...
Layer count: 3892
Progress: inset+skin accomplished in 0.568s
Starting support...
Processing platform adhesion
Progress:

[2022-09-30 19:24] marciot commented on #179
@synsuiter, @SynWillinger: After some investigation I found out by default the web environment only supports 2GB of memory (this is exactly 2147483648 bytes). There is an option to increase that limit to 4GB at compile time, but as described in this thread, it breaks compatibility with certain browsers, although the thread does not say which:

https://github.com/emscripten-core/emscripten/issues/1

[2022-09-30 22:32] marciot commented on #179
I got a different error when slicing `dragon_nice_1.stl` at 500%

[code]

This seems to expose the same problem under two different circumstances:

1. The cases in which the slicing engine needs more than 2GB of RAM to slice the model
2. The case in which the resulting GCODE file is too large, which is the later error.

[2022-09-30 22:32] marciot commented on #179
I got a different error when slicing `dragon_nice_1.stl` at 500%

[code]

This seems to expose the same problem under two different circumstances:

1. The cases in which the slicing engine needs more than 2GB of RAM to slice the model
2. The case in which the resulting GCODE file is too large, which is the later error.

[2022-10-03 16:12] marciot commented on #179
@symsuiter, @synwillinger: I'm going to have to declare this one a "won't fix", or more accurately, "can't fix". Currently, web browsers only support a 32-bit environment (with the corresponding 4GB limit) and after some experimentation it's become evident to me that slicing for a large format printer will require a 64-bit environment. There are also speed issues to contend with. Attempting to sli

[2022-10-06 16:16] synsuiter opened #180 ".obj assembly load in"
**Describe the bug**
.obj assemblies load into Symple Slicer as individual models all loaded separately.

**Details**
 - SympleSlicer Version: BETA V1.2.0
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open SS
2. Load in an .obj file assembly

**Expected behavior**
The model should load in as it was saved.

**Screenshots**
ULTIMAKER CURA
![ulti-obj-load-in](https://user-i

[2022-10-06 16:19] synsuiter opened #181 "Navigation Cube not working"
**Describe the bug**
The top right navigation cube no longer responds when used to view faces of our build volume.

**Details**
 - SympleSlicer Version: V1.2.0
 - Browser : Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open SS
2. Use the Navigation Cube

**Expected behavior**
It should respond to the selection

**Screenshots**
![nav-cube](https://user-images.githubusercontent.com/65

[2022-10-06 16:22] synsuiter opened #182 "0% infill not being recognized"
**Describe the bug**
Unable to Slice with 0% infill.

**Details**
 - SympleSlicer Version: BETA v1.2.0
 - Browser : Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open SS
2. Load model and any profile
3. set the infill % to 0
4. Slice
5. You will see it is at a higher % than 0.

**Expected behavior**
It should accept 0% infill.

**Screenshots**
![0percent-infill_001](https://user-ima

[2022-10-07 15:29] marciot commented on #182
The "Infill Density" (infill_sparse_density) only indirectly controls the infill via the "Infill Line Distance" (infill_line_distance) setting. If no "infill_line_distance" was specified in the profile, then changing the "infill_sparse_density" would cause "infill_line_distance" to recompute, and thus the model would be changed appropriately. However, because the profile is setting "infill_line_di

[2022-10-07 15:41] synsuiter commented on #182
Ahh yeah, this makes sense and I can can update some of the profile stuff to correct this. I will close this out

[2022-10-07 15:41] #182 closed

[2022-10-10 16:04] synsuiter commented on #180
OBJs load into SS as one, good to go!

[2022-10-10 16:04] #180 closed

[2022-10-11 22:18] synsuiter commented on #140
does this still need to be on hold or is there a possible fix?

[2022-10-14 14:53] marciot commented on #140
@synsuiter: Right now I have not solution, as this is part of a third party code library, but maybe in the future they either release an update or I find some other way to solve the issue. I think leaving it on hold is reasonable.

[2022-10-14 15:19] synsuiter commented on #181
When I confirmed each section it was all working fine until I chose "Back". Once I chose that one the front and back sections went blank on the cube. When I moved the view around I saw the other sides were still visible.

During this, all options still seemed to work, the issue seems to be visual now not functional.

![hollow-nav-cube](https://user-images.githubusercontent.com/65256117/195882187-0

[2022-10-14 15:24] marciot commented on #181
@synsuiter Yeah, this issue has existed for a while. I've seen it before. It probably needs to be another ticket.

[2022-10-14 15:25] synsuiter commented on #181
Noted.

[2022-10-14 15:25] #181 closed

[2022-10-14 15:26] synsuiter opened #183 ""Center Selected Object" broken"
**Describe the bug**
The right click menu option to center the selected model is not working.

**Details**
 - SympleSlicer Version: BETA 1.2.0
 - Browser : Google Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to Center a non-centered model on the build plate.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![center-model-broken](https://user-ima

[2022-10-14 15:29] synsuiter opened #184 "Visual error in Navigation Cube"
**Describe the bug**
The "back" and "front" walls of the cube become invisible after selecting the "back" option.

**Details**
 - SympleSlicer Version: BETA 1.2.0.
 - Browser : google Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Open SS and navigate with the cube right click menu options.

**Expected behavior**
walls should remain visible.

**Screenshots**
![hollow-nav-cube](https:

[2022-10-14 15:29] synsuiter commented on #140
k, sounds like a plan.

[2022-10-14 18:45] marciot commented on #184
This one might be a web browser rendering bug and there may be nothing I can do about it. It's very peculiar.

[2022-10-19 15:50] synsuiter commented on #21
@marciot, is this feature dependent on the Browser?

[2022-10-19 15:52] synsuiter commented on #66
I think we can close this out since we rearranged the UI anyway. We can open a new ticket if something like this happens in the new setup.

[2022-10-19 15:52] #66 closed

[2022-10-20 19:13] synsuiter commented on #143
fixed

[2022-10-20 19:13] #143 closed

[2022-10-20 19:14] synsuiter commented on #151
closing

[2022-10-20 19:14] #151 closed

[2022-10-20 19:18] synsuiter commented on #152
This does appear to be working normally, I agree, advanced it is.

[2022-10-20 19:18] #152 closed

[2022-10-20 19:20] synsuiter commented on #153
@marciot Any reason we cant add this identifier?

Just a Start Gcode update or something more in depth?

[2022-10-20 19:21] synsuiter commented on #158
I am going to close this ticket out because we have now implemented these and are creating new tickets for specific corrections to the additions.

[2022-10-20 19:21] #158 closed

[2022-10-20 19:24] synsuiter commented on #183
Fixed.

[2022-10-20 19:24] #183 closed

[2022-10-20 19:25] synsuiter commented on #184
I cant seem to replicate it now so I am going to close this out. we can reopen if it becomes in issue later.

[2022-10-20 19:25] #184 closed

[2022-10-21 21:51] #133 closed

[2022-10-24 17:51] synsuiter opened #185 "Add previously absent Dual Settings"
**Is your feature request related to a problem? Please describe.**
Need to be able to edit these Dual specific Setting options.

**Describe the solution you'd like**
Here is the list of settings

wall_extruder_nr
wall_0_extruder_nr
wall_x_extruder_nr
roofing_extruder_nr
top_bottom_extruder_nr
infill_extruder_nr
support_extruder_nr
support_infill_extruder_nr
support_extruder_nr_layer_0
support_inte

[2022-10-24 17:59] marciot commented on #185
Please modify the following file and send me an updated copy:

https://github.com/SynDaverCO/symple-slicer/blob/master/src-app/js/SlicerSettings.js

[2022-10-24 19:46] synsuiter commented on #185
file updated

[2022-10-26 15:57] synsuiter commented on #178
I was able to find that the settings in Cura Ulti that are showing as settable_per_extruder, actually contain "settable_per_mesh": true.

If the extruders are assigned to a different mesh then they have to technically be able to set per extruder since we don't have the ability to assign slice features to a mesh, we are having the settings all go through extruder assignment.

I am unsure if this is

[2022-10-26 16:59] synsuiter commented on #178
**Line width options also have these:
                    "value": "machine_nozzle_size",
                    "settable_per_mesh": true,

[2022-10-26 18:08] synsuiter commented on #178
@marciot , I couldn't find this online anywhere but this is what I think we were missing.

Settable_per_exrtuder = Can assign a specific extruder to this feature regardless of mesh assignment.

Settable_per_mesh = Can be assigned unique values per mesh, which can assigned to different extruders.

So it appears that “settable per extruder” actually refers back to having a specific extruder assignme

[2022-10-27 19:58] synsuiter opened #186 "Centering is placing it off the center"
**Describe the bug**
Models are loading in off center and then loading into the same off center area when I attempt to "center" it with the menu command option.

**Details**
 - SympleSlicer Version: 1.2.0
 - Browser: Google Chrome

**To Reproduce**
Steps to reproduce the behavior:
Open SS
Load model
observe how it loads in
"center" the model

**Expected behavior**
model should center

**Screenshot

[2022-10-31 14:27] marciot commented on #178
@synsuiter: I see. This makes sense.

Symple Slicer does not support per mesh settings and adding that option would require a pretty major overhaul (in the order of a several months), so it seems like one solution for now is to show two separate values for any setting which is either "settable_per_extruder" or "settable_per_mesh". In the case in which Cura allows a setting to be assigned by mesh,

[2022-11-01 17:56] synsuiter opened #187 "Extra Start Gcode and incorrect est"
**Describe the bug**
There is extra gcode being generated at the very beginning of the file and the est info in the same place is incorrect. See examples below.
If this code is deleted manually, the gcode is usable but if left in, the print will not begin correctly.

**Details**
 - SympleSlicer Version: 1.2.0
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
Slice any model wit

[2022-11-01 19:34] synsuiter opened #188 "Centering Error for larger models"
**Describe the bug**
When centering larger models, it places then on the top left, instead of in the middle.

Seems t affect models that come close to exceeding the AXI2 Bed limits. Not sure if that is relevant.

**Details**
 - SympleSlicer Version: 1.2.0
 - Browser: Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Apply any printer and material profile
2. Load in a large model, I have

[2022-11-04 18:00] synsuiter opened #189 "Preview Line Colors"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-04 20:17] synsuiter commented on #187
Upon further investigation this seems like a new Engine thing, not a Bug. Can we just remove that from the generated gcode? or have it not add it in the 1st place? It is doing it on Cura Ultimaker also.

Cura Ulti Version # =

text in Ulti generated gcode: 5.0.0.

;Generated with Cura_SteamEngine 5.0.0
T0
M140 S60
M105
M190 S60
M82 ;absolute extrusion mode

[2022-11-07 17:35] marciot commented on #188
@synsuiter: Can you attach the STL to this ticket?

[2022-11-07 17:37] synsuiter commented on #188
My apologies, I meant to and completely forgot.
[fullbed_wavytest-superfine.txt](https://github.com/SynDaverCO/symple-slicer/files/9954087/fullbed_wavytest-superfine.txt)

Change to .stl

[2022-11-07 18:08] synsuiter opened #190 "Unable to generate Gcode with supports"
**Describe the bug**
Upon slicing a normal model with a normally applied Machine and Material profile, BUT THEN enabling the SUPPORTS the slicer generated 0 lines of code.

**Details**
 - SympleSlicer Version: 1.2.0
 - Browser: Google Chrome, up to date.
         - Browser history and data wiped. Error confirmed on multiple computers.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply a p

[2022-11-07 18:11] synsuiter commented on #190
![s-log-001](https://user-images.githubusercontent.com/65256117/200383873-1a59be27-4363-456c-9ed7-ecec73ab11ea.JPG)
![s-log-002](https://user-images.githubusercontent.com/65256117/200383881-f6253af2-a64a-40ab-9516-f8daea439930.JPG)

[2022-11-07 20:46] marciot commented on #190
@synsuiter: This appears to be a problem with CuraEngine requiring "support_enabled" to be presented in the command line before certain other settings. I have created a ticket upstream.

https://github.com/Ultimaker/CuraEngine/issues/1763

We can work around this on our end, although there is a posibility other settings may have similar requirements.

[2022-11-10 19:06] synsuiter commented on #178
Where are we on this? I see there are still settings that have "settable_per_mesh" but are not visible for the 2nd Extruder. Was there a file I was supposed to update and send you?

[2022-11-11 15:25] marciot commented on #178
@synsuiter: What settings are missing?

[2022-11-11 15:28] marciot commented on #190
@synsuiter: Can this be closed?

[2022-11-11 15:29] marciot commented on #187
@synsuiter: Can this be closed?

[2022-11-11 16:58] synsuiter commented on #178
I have confirmed the following settings are: "settable_per_mesh = true"

![resolution](https://user-images.githubusercontent.com/65256117/201376365-7aa6d53a-5069-42b7-bd84-de4fda4e4aee.JPG)
In the Resolution section, the following settings are missing for Extruder 2:
Wall Line Width
Outer wall line width
Inner wall(s) line width
Top/bottom Line Width
Infill Line Width (when not overridden)

![wall

[2022-11-11 17:15] marciot commented on #178
@synsuiter: I see. I looks like some settings are limited to a particular extruder only when certain conditions are met, and I did not account for this. So I will need to rework things again to account for this additional complexity.

[2022-11-11 17:29] synsuiter commented on #178
okydoky, makes sense.

[2022-11-11 18:33] synsuiter commented on #178
Looks great, closing ticket!

[2022-11-11 18:33] #178 closed

[2022-11-11 18:34] synsuiter commented on #190
Indeed, Issue has been resolved. Gracias

[2022-11-11 18:34] #190 closed

[2022-11-11 18:35] #187 closed

[2022-11-11 18:36] synsuiter commented on #185
Dual settings are now visible and usable, If there are future issues with Dual settings I will open a new ticket.

[2022-11-11 18:36] #185 closed

[2022-11-11 18:45] synsuiter opened #191 "Dual Profile export/import"
**Describe the bug**
I exported a dual profile and got this at the very bottom:

[settings.extruder_0]
cool_fan_full_at_height = **null**                            # mm
cool_fan_full_layer = 15
cool_fan_speed_max = 100                                  # %
cool_fan_speed_min = 100                                  # %
retraction_amount = 5                                     # mm
retraction_speed =

[2022-11-11 18:47] synsuiter commented on #191
I changed the "null" to a numerical value and the profile WAS able to import without issue.

[2022-11-11 20:07] synsuiter commented on #191
@marciot , Can we make it so if a value is "null" or blank when exported, that it wont allow the profile export or it comments that line out or removes that line entirely?

[2022-11-11 20:28] synsuiter opened #192 "Print Time Est for Dual Prints"
**Describe the bug**
The Time est for Dual prints are WAAAAAY over what the actual print time is, by a factor of days.

A print repeated almost exactly in the Ultimaker version comes out to 4 hours where Symple slicer has it at 71 hours. they actually print at the same speed and don't have a significant difference when actually printed and compared.

**To Be Noted** SS is also adding long travel m

[2022-11-11 20:30] marciot commented on #192
@synsuiter: Please look at the GCODE and see what time is stated in the header. This is what Symple Slicer uses.

[2022-11-11 20:35] synsuiter opened #193 "Extra Travel Moves"
**Describe the bug**
SS is adding extra travel moves to X00 Y00 each time the nozzles switch.

**Details**
 - SympleSlicer Version: 1.2.0
 - Browser : google chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dual slice with both nozzles being used to print.
2. observe the preview travel lines.

I tried changing the setting "layer_start_x" and "layer_start_y" to the center of th

[2022-11-11 20:41] synsuiter opened #194 ""Edited" color identifier"
**Is your feature request related to a problem? Please describe.**
I am unable to remember/identify the settings I have edited and the ones that are still from the "applied" profile if I am interrupted during a slice. This leaves me to have to reAPPLY a fresh profile and restart my edits.

**Describe the solution you'd like**
When the user edits a setting, there could be some kind of visual change

[2022-11-11 20:45] synsuiter commented on #192
The one that SS est at 71 hours and ULTI had 4 hours had this:

;FLAVOR:Marlin
;TIME:259066
;Filament used: 132.644m, 24.0319m
;Layer height: 0.5
;MINX:0
;MINY:0
;MINZ:0.5
;MAXX:550.877
;MAXY:624.433
;MAXZ:246
M82 ;absolute extrusion mode
;This G-Code has been generated specifically for NG2

And the Cube one, claiming 27 hours, had this:
;FLAVOR:Marlin
;TIME:99281
;Filament used: 21.2532m, 20.9991

[2022-11-11 20:47] synsuiter commented on #192
Here are those gcodes
[20mm_cubes_time-est - Copy.txt](https://github.com/SynDaverCO/symple-slicer/files/9993130/20mm_cubes_time-est.-.Copy.txt)
[cadet-head-right_NG2_PLA+PVA_11-10-22 - Copy.txt](https://github.com/SynDaverCO/symple-slicer/files/9993131/cadet-head-right_NG2_PLA%2BPVA_11-10-22.-.Copy.txt)

[2022-11-11 20:48] marciot commented on #192
@synsuiter: 259066 seconds works out to 71 hours, so Symple Slicer is showing the correct time, at least as far as the engine is reporting. You may want to make sure you are comparing times against Ultimaker Cura 4.12.1, as that is what is currently in Symple Slicer.

[2022-11-11 20:50] marciot commented on #193
@synsuiter: This is a slice engine issue. I believe I've seen it before and Ultimaker Cura 4.12.1 does the same thing.

[2022-11-11 20:52] marciot commented on #191
@synsuiter: This is a symptom of some other problem, as there should not be null values in the backend. I will need to investigate.

[2022-11-11 21:46] synsuiter commented on #192
Here are the exact comparisons, same settings and Engine, 4.12.1.

The Symple Slicer Est is 121 Hours and 47 Minutes
The Cura Ultimaker Est is 6 Hours and 19 Minutes

![comparison](https://user-images.githubusercontent.com/65256117/201434910-ce91239b-a3e1-4979-ae89-b6cc54ebd0c2.JPG)

[2022-11-11 21:48] marciot commented on #192
@symsuiter: Are the output GCODE exactly the same? My guess is they aren't, because the profiles are not exactly the same. The only way to really compare the two adequately is to make sure all the slicer settings are exactly the same.

[2022-11-11 21:49] synsuiter commented on #192
I did, I set them and went over every single setting side by side

[2022-11-11 21:52] synsuiter commented on #192
here are the two gcodes
[cadet_head_Ulti-time-est.txt](https://github.com/SynDaverCO/symple-slicer/files/9993368/cadet_head_Ulti-time-est.txt)
[cadet_head_ss-time-est.txt](https://github.com/SynDaverCO/symple-slicer/files/9993369/cadet_head_ss-time-est.txt)

[2022-11-11 21:53] synsuiter commented on #192
They are not identical but I set the setting to match so this may go deeper than just the time est.

[2022-11-11 22:00] synsuiter commented on #192
I am noticing the Symple Slicer version has a repeat of the start gcode part the way down, very odd

[2022-11-14 20:49] marciot commented on #193
@synsuiter: Please test with "machine_extruder_end_pos_abs" set to "false" and possibly also "machine_extruder_start_pos_abs". I believe this is the setting that is causing the problem.

[2022-11-14 21:11] synsuiter commented on #193
Will do

[2022-11-16 16:24] synsuiter commented on #186
Update on this? Tested today, reconfirmed.

[2022-11-16 16:52] synsuiter commented on #193
This works, I have pushed machine profile edits for the NG2. Will close when applied and confirmed.

[2022-11-18 15:14] marciot commented on #193
@synsuiter: I pulled, but there are no changes to the profiles.

[2022-11-18 15:34] synsuiter commented on #193
That..... Is because I forgot to Push them. My B. sending your way now.

[2022-11-18 18:22] synsuiter commented on #193
This is solved, good find sir.

[2022-11-18 18:22] #193 closed

[2022-11-18 18:42] synsuiter commented on #191
I have confirmed that if a setting is just deleted, no value to replace it, the profile will put "null" as the setting Value when exported.

another thing to note from this, the slicer is allowing for slicing when setting values are left blank.

Could we have it automatically add the applied profile default value if left empty?

[2022-11-18 18:43] synsuiter commented on #192
This was likely due to the erroneous travel moves ticket #193, closing ticket. Will reopen if new info comes to light.

[2022-11-18 18:43] #192 closed

[2022-11-21 19:08] marciot commented on #194
@symsuiter: It is not possible to color code settings which differ from the profile, as Symple Slicer does not distinguish whether a change was made by a profile, or later by the user. Think of applying a profile as a short cut for the user manually typing in all those individual values in the UI. What Symple Slicer does do is mark those values as user-entered and makes it so they no longer affect

[2022-11-21 19:13] marciot commented on #191
@synsuiter: For consistency with ticket #194, I now make it so if the user "erases" a value in the UI, it will restore to the Cura default and a blue value will become white. This essentially allows the user to remove values that were either manually entered or entered from the profile.

I know this is not what you asked for, but it is the best I can do right now.

[2022-11-21 20:08] synsuiter commented on #191
that looks great to me, I think this at least helps out, I will close this ticket and we can make a new one for any future advancements to this feature.

Just a note for later: the Darkness Mode doesn't really show the color difference but idk if that is a concern at this moment.

[2022-11-21 20:08] #191 closed

[2022-11-21 20:10] synsuiter commented on #194
This works for me, will open new ticket if changed are needed in future.

[2022-11-21 20:10] #194 closed

[2022-11-21 20:22] marciot commented on #191
@synsuiter: In Darkness, there is a color difference. Gray vs light blue. It's not all that pronounced though.

[2022-11-22 20:14] synsuiter opened #195 "Drop Down options reverting to Cura Defaults"
**Describe the bug**
All options in "drop-down" menu form, when changed, reverts to the Cura default and will not allow it to be edited again.

**Details**
 - SympleSlicer Version: 1.2.0
 - Browser : Google Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Confirmed on the AXI machines and the NG2 Machines, Apply either and edit the drop downs.

**Expected behavior**
SS should keep the

[2022-11-22 20:27] synsuiter opened #196 "Error(?) in TOML export for DUAL"
**Describe the bug**
See files attached containing example. There are some settings that need to have different definitions per tool head and it is all currently lumped in the machine profile. I was wondering if now is a the time to to tool head profiles that pair to the machines?

I am not entirely sure what the issue is here or how to fix it.

**Details**
 - SympleSlicer Version: create a Dual S

[2022-11-23 16:44] synsuiter commented on #195
I think this may also be related.

When trying to change Start and End Gcode in the UI machine settings, as soon as you click out of the window it reverts to text that is NOT the previously entered text or the text you just entered.

[2022-11-28 15:14] marciot commented on #196
@synsuiter: Last Monday it looks like I seriously broke things. So basically, loading dual profiles was not working at all. I made some progress cleaning up the mess on Friday, but still have some more to do today. Hopefully I can upload a new version today and we can see if it closes this ticket and some of the others.

[2022-11-28 17:52] synsuiter commented on #196
The settings that I am most concerned about are listed bellow because they are/ can be different values from Toolhead 0 to Toolhead 1.

"extruder_nr"     (ex. 0 and 1)
"machine_nozzle_size"     (ex. 0.4 and 1.0)
"machine_extruder_cooling_fan_number"     (ex. 0 and 1)
"machine_nozzle_id"      (ex. Hemera0 and Hemera 1)

[2022-11-28 17:54] synsuiter commented on #196
**to be clear, the extruder settings have the potential to all be different from one anther but the ones listed above are the ones we need to be able to independently assign.

[2022-11-28 21:16] marciot commented on #196
@synsuiter: You can specify extruder specific settings in a machine profile, or any profile file for that matter (although it would probably not make sense for anything other than machine profiles). Just use the same notation that is used in exported TOML files:

[code]

[2022-11-28 21:18] synsuiter commented on #196
okydoky, got it

[2022-11-28 21:26] synsuiter opened #197 "Right Click-drop down menu"
**Describe the bug**
The right click drop down menu is not apearing when an object is selected and right clicked.

**Details**
 - SympleSlicer Version: 1.2.0.
 - Browser : Chrome

**To Reproduce**
Steps to reproduce the behavior:
Right click an imported STL.

[2022-11-30 16:49] #195 closed

[2022-11-30 16:50] synsuiter commented on #197
corrected

[2022-11-30 16:50] #197 closed